[2020-06-03 20:50] devrup-csv opened #1 "target type is int64 still raising error"
63             if predetermined_type_target not in (FeatureType.TYPE_BOOL,
     64                                                  FeatureType.TYPE_NUM):
---> 65                 raise ValueError
     66             self.predetermined_type_target = predetermined_type_target
     67         else:

ValueError:

this error raised in spite of target being 1,2,3 values and type being int64

[2020-06-04 01:59] fbdesignpro commented on #1
Sweetviz only supports tracking targets that are of type NUMERICAL or BOOLEAN. This error would happen if you try something that has 3 values (it would get set as CATEGORICAL).

Commit a8529a458b9f111060fa20a767fdcbb4654f9425 (1.0alpha4) addresses this in 2 ways:

1. Better documentation of the error in the "raise" statement
2. Added support to force a categorical variable to be numerical, using t

[2020-06-04 01:59] #1 closed

[2020-06-06 12:15] gpompeo opened #2 "Documentation analyze vs compare"
Hi, first of all, congrats on the project. Haven’t used extensively yet but will do so soon.

Just dropping this note because I noticed some inconsistencies in the documentation and the medium article. On the medium article the analize() function is mention but not used. Here on git compare() is mentioned but not used.

Just wanted to let you know....

[2020-06-07 17:31] v-rao opened #3 "Data type issue"
TypeError: Column InvoiceNo has a 'mixed' inferred_type (as determined by Pandas). This is is not currently supported; column types should not contain mixed data. e.g. only float, or strings, but not a combination.

[2020-06-08 01:24] onkarkhedkar opened #5 "Time series plotting"

[2020-06-08 01:26] onkarkhedkar commented on #5
I tried to analyze a categorical feature against the date provided in the data,even after changing the dtype of variable I was not able to plot for that specific column. Thanks

[2020-06-08 09:04] saivishwanathgoud opened #6 "Not able to generate html report"

[2020-06-08 10:45] Leocontreas opened #7 "library installing issues"
I cannot use the command "pip install sweetviz" since it gives me back an error message ("ERROR: Could not find a version that satisfies the requirement sweetviz (from versions: none)
ERROR: No matching distribution found for sweetviz").

So I tried to use the command "git clone https://github.com/fbdesignpro/sweetviz.git ", and it worked out, but when I import the library in python interpreter it

[2020-06-08 13:21] #2 closed

[2020-06-08 13:30] paulineolivierMFG opened #8 "import sweetviz doesn't work"
I run the command `pip install sweetviz`. The library was successfully installed but when I run the command `import sweetviz as sv`, I have the error : `AttributeError: module 'sweetviz' has no attribute 'from_dython'`

[2020-06-08 13:32] fbdesignpro commented on #3
Hi! Thank you for the report! This is as the message described; Pandas is reporting a mixed type and the system is unsure how to handle it. This is a bit of an incentive to clean up the data so it is clearly numerical, categorical or plain text.

I COULD have the system treat such a case as "text", but I feel having this message forces the user to make a choice helps.

I could also try to get the

[2020-06-08 13:35] fbdesignpro commented on #8
Thank you for the report! That's an interesting one... this attribute would be part of the installed package. Which environment are you using? (e.g. IDE/GUI, Python version, etc.)

[2020-06-08 13:36] fbdesignpro commented on #7
Thank you for the report! Which environment are you using this from (Python version, environment, etc.). e.g. Sweetviz is using Pandas 1.0+, perhaps that was not a satisfied requirement?

[2020-06-08 13:41] fbdesignpro commented on #6
Hello! Thank you for the report! I believe the causes that Sweetviz is using the basic Python "os" module to write output.

I haven't worked with Google colab, but a quick look is suggesting that that's not the way to write out files.

Again not familiar with how files are handled with that system but hopefully it should be a simple matter of substituting the os module for output with something th

[2020-06-08 13:45] fbdesignpro commented on #5
Hi! Thank you for the question! To be certain I understand; you are trying to use one variable as the target, correct? Also is that target the categorical data or is it the date? If the date is the target, it should be in a numerical format. (E.g. convert to days or something like that)

As another note, for now the only target values allowed are boolean and numerical.

I hope this helps, let me k

[2020-06-08 13:46] paulineolivierMFG commented on #8
I work with IntelliJ IDEA (python plugin), in a conda environment and with python 3.6. I tried to uninstall and reinstall the package multiple times and it works now. Thank you

[2020-06-08 13:49] Leocontreas commented on #7
Hi,
I'm using Python 3.5.6

Fact is, I am able to I import sweetviz as sv, but I cannot use the library because no module appears available (i.e. .compare(), .analyze() and so on are not understood as sweetviz modules). It is really weird. Did I install the package in a non-canonical way?

[2020-06-08 14:36] fbdesignpro commented on #8
I'm glad it worked out! It might have been a depedency that eventually got resolved; either way thank you for the report and update!

[2020-06-08 14:36] #8 closed

[2020-06-08 14:39] fbdesignpro commented on #7
Hi! I'm not sure that would be the cause but the minimum requirement is Python 3.6 (I have not tested below that version number). That part does likely explain the "Could not find a version that satisfies the requirement"; I know it's not always possible, but if you can upgrade to 3.6+ it might resolve the issue.

[2020-06-08 14:40] fbdesignpro commented on #7
Actually I thought I was listing the requirements more explicitly; I will update the docs!

[2020-06-08 14:46] fbdesignpro commented on #3
In the meantime, looking into it, I will at least add a lot more info to the error message.

[2020-06-08 14:47] Leocontreas commented on #7
Thanks for the quick reply. I tried installing sweetviz through pip in a python 3.6.5 environment and it worked out. Also, library is correctly recognised by the interpreter :)

[2020-06-08 14:47] #7 closed

[2020-06-08 17:18] stephanefevrier opened #9 "Column names can only be string type"
Columns names need to be strings : I've got an error when using integers (happens when calling sweetviz.DataframeReport). This could be easily changed by modifying the line 215 in \sweetviz\dataframe_report.py:

From
```self.progress_bar.set_description(':' + f.source.name + '') ```

To
```self.progress_bar.set_description(':' + str(f.source.name) + '')```

<details>
  <summary>Complete error code

[2020-06-08 18:54] fbdesignpro commented on #9
Great catch! I'll double check the rest of the code because that name is used in many places.

[2020-06-08 20:16] fbdesignpro commented on #9
I'll be rolling in a fix by tomorrow, with a few other fixes.

[2020-06-09 02:41] #3 closed

[2020-06-09 02:41] #9 closed

[2020-06-09 04:02] phillip1029 opened #10 "ValueError: index must be monotonic increasing or decreasing"
I am able to generate the same report on Titanic data as in the Medium articles. However, when I try to test the Boston housing data, I get the errors as below:

ValueError                                Traceback (most recent call last)
~\AppData\Local\Continuum\anaconda3\envs\envSDS\lib\site-packages\pandas\core\indexes\base.py in get_slice_bound(self, label, side, kind)
   5166             try:

[2020-06-09 12:32] fbdesignpro commented on #10
Hi! Thank you for the report. I couldn't get my hands on the dataset to test as it seems to come from a private Kaggle competition. Could you please e-mail me personally and we can arrange how you could send it over? You can reach me at "fb AT fbdesignpro.com". Thank you!

[2020-06-09 13:18] fbdesignpro commented on #10
I was able to reproduce the issue, will look for a fix!

[2020-06-09 15:06] roytaas commented on #10
I also get the same error: ValueError("index must be monotonic increasing or decreasing").
Also with older versions of sweetviz.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/indexes/base.py in get_slice_bound(self, label, side,

[2020-06-09 15:16] fbdesignpro commented on #10
Fix submitted with the latest commit (1.0a7).

@phillip1029 @roytaas let me know if that fixed it!

Thank you again for the reports!

Francois

[2020-06-09 15:32] roytaas commented on #10
I still get the same error

[2020-06-09 15:33] fbdesignpro commented on #10
@roytaas darn; is that with the same Boston dataset?

[2020-06-09 15:52] roytaas commented on #10
It is the same dataset, but i didn't use the boston dataset, but my own dataset :)
If you want, I can also try the boston housing data from Kaggle..

[2020-06-09 16:02] roytaas commented on #10
Wel it works on the boston dataset. In my own dataset I have string variables, which I don't see in the boston and titanic set,  is that a problem?
My target variable is numerical...

[2020-06-09 16:49] fbdesignpro commented on #10
@roytaas string data should be fine and show up as "text". There are all sorts of combinations though so there is something I didn't cover in that particular case. Is this a dataset you would be able to share with me? If so e-mail me at fb at fbdesignpro.com. If not I will look at the call stack again.

[2020-06-09 19:57] ZGainsforth opened #11 "Allow generation of HTML without opening browser, and partial HTML for inclusion in other projects"
I am trying to use sweetviz within a streamlit workflow.  Sweetviz automatically opens up an external browser, which is nice but not appropriate within  streamlit which is already producing output in the browser.  Instead, I would like to include the output of sweetviz as a "control" within streamlit similar to:
`st.write(sweetviz.analyze(df))`
much like I can already embed plotly or other framewo

[2020-06-09 20:38] fbdesignpro commented on #11
Hello @ZGainsforth, that makes sense and something I had thought of for future integration into things like notebooks. I would create a new "show" function (e.g. `get_as_embedded_html()`) that would return a string you can embed wherever you would want and not open a new page.

In theory it would simply use a different template for content that doesn't have the head and body. It's on my medium-ter

[2020-06-09 22:23] ZGainsforth commented on #11
@fbdesignpro that sounds like a good solution.

The HD output is obviously a feature you could tweak in the future, but for me HD is desirable.   I wouldn't think of doing EDA without a 4K monitor...

Thanks, and looking forward to it!

[2020-06-10 00:52] fbdesignpro commented on #10
Actually, looking at the code, it has to be a different error (but it could be with the same data); @roytaas could you send the call stack you are getting again? Because you should not be getting the same error on version 1.0a7.

[2020-06-10 06:41] v-rao commented on #3
@fbdesignpro

I was working on the online retail dataset.

![Screenshot (597)](https://user-images.githubusercontent.com/40270731/84234812-78a40e80-ab12-11ea-969e-8c56324748b2.png)

In this dataset, the variable 'Invoice Number' is a 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'C', it indicates a Cancellation.

And once I run the following cod

[2020-06-10 11:12] ShubhangiSoni1603 opened #12 "It worked in Jupyter but it is not generating report in Google Colab:("

[2020-06-11 05:11] aishwaryarajendragulve opened #13 "sweetviz libaray"
Hi,
I am not able to install sweetviz library. It Installed in the anaconda prompt but not working in the Jupyter notebook.

[2020-06-11 13:28] fbdesignpro commented on #13
Hi! If it is installed in the same environment/venv as the notebook, it should work. So you are not able to import it at all from the project? Do you see it if you run `pip list`? Thank you!

[2020-06-11 13:42] fbdesignpro commented on #12
Hello @ShubhangiSoni1603, Thank you for the report! You're not the first report issues with Colab.

The report SHOULD be generated, it just not pops up in the notebook. It should be created in the filesystem. Have you looked at the files area of your notebook? e.g.

![image](https://user-images.githubusercontent.com/65080980/84391874-8e274000-abc7-11ea-8dd6-7586b9cf9b5f.png)

You should see the HT

[2020-06-11 13:45] fbdesignpro commented on #10
@roytaas let me know if you're still getting this in version 1.0a7. To make sure you are using the latest version you can use `pip install sweetviz --upgrade`. Looking forward to hearing if that worked, or if there is a different issue!

[2020-06-11 13:48] fbdesignpro commented on #6
@saivishwanathgoud with the latest version I was able to generate the report file. Currently, it will not show up directly in the notebook but the file still gets generated. You should be able to find it here:
![image](https://user-images.githubusercontent.com/65080980/84392561-89af5700-abc8-11ea-8557-03664c522782.png)

and it should be visible here (using the default name in this case):
![image](

[2020-06-12 10:12] saivishwanathgoud commented on #6
Hi @fbdesignpro I really appreciate your time and effort in sorting this.   Could you please help me on one last issue.

https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients (dataset link)

![image](https://user-images.githubusercontent.com/56529738/84491824-c8293c80-acc2-11ea-90d1-ece92a5ecf11.png)

I like the visualizations but I want to see individual features graphs expanded

[2020-06-13 10:02] ikunal95 commented on #10
@fbdesignpro Hi, I am facing the same error even after upgrading it 1.0a7.

ValueError                                Traceback (most recent call last)
~/.local/lib/python3.8/site-packages/pandas/core/indexes/base.py in get_slice_bound(self, label, side, kind)
   4843             try:
-> 4844                 return self._searchsorted_monotonic(label, side)
   4845             except ValueError:

~

[2020-06-15 12:53] fbdesignpro commented on #10
@ikunal95 @phillip1029 am I on crazy pills? **It looks like my updates are not taking effect on the pyc compiled code or something! (but it seems to update the source for you guys)** I wonder if it has to do with how I am uploading builds through `pip`!? There is something strange going on here. It's like it's using an OLD compiled version because it's crashing on a line that low longer exists in

[2020-06-16 14:55] WillArevalo commented on #10
Excelent, you fix the problem qwith the last update, thanks 👍

[2020-06-16 15:00] fbdesignpro commented on #10
Great, thank you! @phillip1029 @ikunal95 does reinstalling fix it? Looks like "just upgrading" isn't working for some reason... :/

[2020-06-16 20:00] ShubhangiSoni1603 commented on #12
Thanks, sir!
This library helped me a lot.

[2020-06-17 02:34] phillip1029 commented on #10
Reinstalling fixed the issue for me. Thanks.

On Tue, Jun 16, 2020, 11:01 AM Francois Bertrand <notifications@github.com>
wrote:

[2020-06-17 02:40] fbdesignpro commented on #10
@phillip1029 great! Thank you that makes some sense! I will update the instructions for updating as it seems reinstalling is the way to go.

[2020-06-17 02:40] #10 closed

[2020-06-27 04:51] v-rao opened #14 "Mixed Data Type issue"
@fbdesignpro

I was working on the online retail dataset.

![Screenshot (597)](https://user-images.githubusercontent.com/40270731/85914845-c1243180-b85f-11ea-93ba-22b960239a2d.png)

In this dataset, the variable 'Invoice Number' is a 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'C', it indicates a Cancellation.

And once I run the following cod

[2020-06-29 14:24] Christophe-pere opened #15 "show_html() doesn't shows the output jupyter notebook / lab"
Hi there,

I try to use sweetviz in local:

- Ubuntu 20.04

And in anaconda enterprise:

- K8s with centOS

Both lead to the same issue. The display of the output in jupyter lab and notebook isn't visible.

Local:
- Jupyter_lab=2.0
AE:
- jupyter=1.0.0
- jupyter_client=5.3.3
- jupyter_console=6.0.0
- jupyter_core=4.5.0
- Jupyter_lab=1.1.3
- ipython=7.8.0

The report has been generated but not displ

[2020-07-07 12:55] JitenderSingh8698 opened #16 "show_html() doesn't show any output in databricks notebooks"
Hi
I have used 'Sweetviz' library in azure databricks. The reports are not generated in html.
snapshot
![image](https://user-images.githubusercontent.com/65899236/86784484-31f8f400-c07f-11ea-8006-23183bf6ba31.png)

[2020-07-07 18:13] ECSGuy commented on #16
Hello! Our lead will answer this question once he has returned next week.  I just want to make sure you know we see the issue and will get back to you as soon as we can.

[2020-07-07 20:04] JohnDeJesus22 opened #17 "Larger feature visualization on right is hidden"
Appreciate the effort for this library and I see the potential!. Tried out at work and when the html displayed the charts for features are partially hidden. Thought that I could scroll over to see them but no horizontal scroll bar was available.

[2020-07-08 00:38] a246530 commented on #16
It looks like the code uses webbrowser.open which likely isn't supported on a service like databricks or Google's colab. You would need to find a way to access the file it saves which is what you are supposed to be directed to.

[2020-07-08 00:41] a246530 commented on #15
So it does save the file but it doesn't automatically open it in the web browser on these systems correct? When you open that HTML file it saves, it opens correctly though?

[2020-07-08 00:47] a246530 commented on #14
It states in the error code that you can't use a mixed type like you described above. As a work around for now, you could pull the 'c' out of that field and move it to its own field.

[2020-07-08 09:30] VsmashJ opened #19 "TypeError: DatetimeIndex cannot perform the operation sum"
TypeError                                 Traceback (most recent call last)
 in
      1 #analyzing the dataset
----> 2 report = sv.analyze(channelmemberhistory)
      3 #display the report
      4 report.show_html('MemberHistory.html')

~/.local/lib/python3.6/site-packages/sweetviz/sv_public.py in analyze(source, target_feat, feat_cfg, pairwise_analysis)
     11             pairwise_analysis: str

[2020-07-08 13:12] gouthamreddy09 commented on #19
@VsmashJ are using .xlsx or .csv?

[2020-07-08 14:29] VsmashJ commented on #19
Pandas Data Frame from Mysql and Last field transformed of Unix Epoch Timestamp converted to datetime using to_datatime() pandas

[2020-07-08 15:55] v-rao commented on #14
Can't do that because Invoice Number is a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'C', it indicates a Cancellation.

[2020-07-08 16:52] Pini79 opened #20 "ZeroDivisionError: float division by zero"
Hi, the execution throws the "Zero Division Error".
I'm new with Jupiter Notebook and Python.

C:\Anaconda3\lib\site-packages\sweetviz\graph_associations.py in heatmap(y, x, figure_size, **kwargs)
    224
    225     # Scale with num squares
--> 226     size_scale = size_scale / len(x)
    227     def value_to_size(val):
    228         if size_min == size_max:

ZeroDivisionError: float division b

[2020-07-08 16:54] Pini79 commented on #20
The dataset contains the following structure:

IDSUSCRIPCION	IDCONTRIBUYENTE	IDSERVICIO	FECHA_SUSCRIPCION	HABILITADA	ORIGEN
6047184	2309304	BEInmo	2019	S	W
6047185	2309305	BEAuto	2019	S	W
6047186	2309306	BEAuto	2019	S	W
6047187	1302989	BEInmo	2019	S	W

[2020-07-08 18:45] Blazer-007 opened #21 "UI glitch"
In the html report generated when i click on the card of a column to select then there is no way to deselect it i.e. I can't select any other card.

[2020-07-08 20:43] shagreobe opened #23 "font error?"
First off, love this! installed and run it on a 88K+ line dataset. loved how it came out.
Now, I got about 15 errors saying the same thing...
c:\users\shawn\python38\lib\site-packages\matplotlib\backends\backend_agg.py:214: RuntimeWarning: Glyph 37239 missing from current font.
  font.set_text(s, 0.0, flags=flags)
This might be my computer/matplotlib version (3.2.1) or who knows.
thanks for a grea

[2020-07-08 22:42] a246530 commented on #21
Did you click on that same card you already selected? I can't select another one until I click on the one I already selected.

[2020-07-09 02:20] nirmalyachoudhuri opened #25 "issue on profile on date field"
File "c:\users\appdata\local\programs\python\python37\lib\site-packages\pandas\core\base.py", line 1220, in _reduce
    klass=self.__class__.__name__, op=name

TypeError: DatetimeIndex cannot perform the operation sum

[2020-07-09 08:33] 95Key opened #26 "Charset utf-8"
First of all it’s awesome! Many thanks for your effort on data visualization! There is a small issue maybe, the html report lacks a meta tag showing the charset as “utf-8”; by adding it, the report can correctly show the MBCS characters and will catch eyes of more global analysts.
Thanks again! Hope this project goes better!

[2020-07-09 08:43] Blazer-007 commented on #21
Okay thanks , I was directly selecting another card .
Got It.

[2020-07-09 08:43] #21 closed

[2020-07-09 08:57] Liwellyen opened #27 "Installation not working"
Installation via pip on linux 16 does not seem to work:

sudo pip3 install sweetviz
ERROR: Could not find a version that satisfies the requirement sweetviz (from versions: none)

[2020-07-09 11:44] nishantp95 opened #28 "Unable to compare the loan prediction dataset"
I get an error as :
TypeError: cannot do label indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [16.12000084] of <class 'float'>

when trying to compare the train and test dataset for loan prediction.
The code I have written is :
my_report = sv.compare([df_train,"Train"],[df_test,"Test"],"Loan_Status")

[2020-07-09 14:37] davebulaval commented on #26
Same problem with French dataset no UTF-8 support.

[2020-07-09 15:26] Sohaibe93 commented on #17
Hello, until this problem of scrolling horizontally is solved, you can inspect the element of your html in your browser and set `overflow-x` parameter to `visible` instead of `hidden` which will permits you to have a horizontal scrolling bar.

[2020-07-10 10:04] rd5802 commented on #19
Error with  datetime64[ns] field. Pandas 1.0.3.

[code]
[code]

[2020-07-10 19:36] Christophe-pere commented on #15
Yes, the report is correctly saved, it can be open in a browser, but, working on anaconda enterprise I want to see the result in widget. Without this, the library lost a big potential application.

[2020-07-11 00:49] cnblevins opened #29 "error in graph_associations.py line 210, ValueError: cannot convert float NaN to integer"
Error thrown up during analyze(dataframe), right after :PAIRWISE DONE: and Creating Associations graph...
Traceback (most recent call last):

  File "<ipython-input-22-2151284dc186>", line 1, in <module>
    myreport = sv.analyze(df)

  File "C:\Users\cnble\anaconda37\lib\site-packages\sweetviz\sv_public.py", line 13, in analyze
    pairwise_analysis, feat_cfg)

  File "C:\Users\cnble\anaconda37\l

[2020-07-11 09:24] dl1683 commented on #6
Please zoom out for that

[2020-07-12 17:03] vidyap-xgboost opened #30 "TypeError: DatetimeIndex cannot perform the operation sum"
I've a dataset which has date_time column of the format: `2020-07-12 11:37:25`

I get the following error:

[code]

I'm running `sweetviz` on Google Colab.

Is there any way to solve this error?

[2020-07-12 23:01] kais-viz commented on #15
I can confirm the same on kaggle, the html is produced correctly but doesn't open in the editor.

[2020-07-12 23:10] kais-viz commented on #19
Facing a similar issue on Kaggle.
Current doing an analysis on the [telco customer churn](https://www.kaggle.com/blastchar/telco-customer-churn) dataset. Initially on the raw data it works well and the report is generated, but once I change the datatype of some attributes to categorical, it crashes with a similar error to the above.

`
import sweetviz as sv
import pandas as pd

data = pd.read_csv(

[2020-07-12 23:12] kais-viz commented on #19
Facing a similar issue on Kaggle.
Current doing an analysis on the [telco customer churn](https://www.kaggle.com/blastchar/telco-customer-churn) dataset. Initially on the raw data it works well and the report is generated, but once I change the datatype of some attributes to categorical, it crashes with a similar error to the above.

[code]

`
TypeError: Categorical cannot perform the operation su

[2020-07-14 13:27] riznicola opened #31 "Bug with screen resolution"
Hi,

I'm having an issue with generated HTML report. The plots and data are overlapping e there's no horizontal scrollbar.
I guess it's a problem with the resolution of the screen, but I can't figure out how to get a proper visualization.
<img width="1780" alt="Schermata 2020-07-14 alle 15 25 34" src="https://user-images.githubusercontent.com/63521816/87431282-b0f1ad80-c5e6-11ea-92a1-02a8a7b26fa2.

[2020-07-14 15:37] #31 closed

[2020-07-14 15:38] riznicola commented on #31
Tried on a different machine and worked properly (still no horizontal bar btw)

[2020-07-14 19:58] a246530 commented on #15
#25 should take care of this I think. I have not tested yet.

[2020-07-15 11:43] fbdesignpro commented on #13
Closing as no answer was provided and system seems to be working in other similar setups.

[2020-07-15 11:43] #13 closed

[2020-07-15 12:45] fbdesignpro commented on #23
@shagreobe thank you for the great words and taking the time to report this! This looks like an unknown character (CJK unicode 37239?) in the provided font. Does that sound about right? I'm not sure how easy it is to get rid of that warning, but I will look into it!

[2020-07-15 12:47] fbdesignpro commented on #17
@JohnDeJesus22 @Sohaibe93 Thank you for taking the time to submit this!

Ironically, I originally had a scrollbar but to make "everything fit" as tightly as possible I got rid of it. I will bring it back in the next version because that was overkill for a dumb cosmetic consideration and ends up being much worse than the original problem!

I will close this when the fix is submitted, hopefully pret

[2020-07-15 12:48] fbdesignpro commented on #20
@Pini79 Thank you for submitting this, I will look into this!

[2020-07-15 12:50] fbdesignpro commented on #16
@a246530 thank you! @JitenderSingh8698, @a246530 is correct, #12 has the answer in that the report cannot "pop-up" a browser but the file should still be generated in the local folder.

In the medium term, I will be addressing this for notebooks, but in the short-term you should still have access to that report if you can download files.

Let us know if this works in the meantime!

[2020-07-15 12:51] fbdesignpro commented on #28
@nishantp95 thank you for taking the time to report this!

I will look into this and see if some of our current upcoming fixes would fix this. There are a bunch of these loan data sets out there, is this a public data set, and if so can you put a link here? I will make sure to test that set.

[2020-07-15 12:52] fbdesignpro commented on #26
@95Key @davebulaval thank you for submitting this! I was not able to respond for the past few days but we are testing #33 which should fix this, we will keep you posted!

[2020-07-15 12:54] fbdesignpro commented on #30
Full @vidyap-xgboost categorical data type support is upcoming, and in the meantime we are testing #22 to fix this. We will keep you posted!

[2020-07-15 12:54] fbdesignpro commented on #25
@nirmalyachoudhuri thank you for submitting this! We are looking into #22 to fix this and will keep you posted!

[2020-07-15 12:56] fbdesignpro commented on #29
@cnblevins thank you for submitting this! This is the first time I see this one, is the data set you are running this on public? (It would be great to test locally to fix) If not I will try to create a workaround.

[2020-07-15 13:00] fbdesignpro commented on #14
@v-rao sorry for the delay I was not able to respond for the past few days. Can you explicitly convert the column to be text (e.g. "object" type)? This should get rid of the issue.

I believe newer versions of the library have added a more verbose error message.

[2020-07-15 13:02] fbdesignpro commented on #6
@saivishwanathgoud @dl1683 just FYI, I originally **removed** the horizontal scrollbar to make everything "fit" within a 1080p screen. In hindsight it was a pretty dumb idea so I will be bringing the scrollbar back in in the next build! :)

[2020-07-15 13:23] nishantp95 commented on #28
@fbdesignpro the link for the dataset is as below :
https://datahack.analyticsvidhya.com/contest/practice-problem-loan-prediction-iii/#ProblemStatement

[2020-07-15 14:53] a246530 commented on #26
@95Key or @davebulaval  , can you give me a copy of the dataset to check that this is fixed? i havent run into an issue with the encoding but added the meta tag per this request.
I downloaded a dataset with french in it and all chars displayed fine without the UTF-8 meta tag.

[2020-07-15 17:25] cnblevins commented on #29
Here's the dataset. There are some NaNs in the data, but I don't think that's what is throwing up this particular error.
Besides, I did a fillna(0) on the dataframe before calling sweetviz.

[JuneData.zip](https://github.com/fbdesignpro/sweetviz/files/4926795/JuneData.zip)

[2020-07-15 17:34] cnblevins commented on #29
And, here is the code used (very straightforward), which threw up the error:
`import pandas as pd
import sweetviz as sv
df = pd.read_csv('C:/Users/cnble/.spyder-py3/JuneData.csv')
df.fillna(0)
test_report = sv.analyze(df)`

[2020-07-15 19:28] shagreobe commented on #23
I have since used several other datasets, and I have not got these errors again. May be something with the data.
Shawn

    On Wednesday, July 15, 2020, 8:46:02 AM EDT, Francois Bertrand <notifications@github.com> wrote:

@shagreobe thank you for the great words and taking the time to report this! This looks like an unknown character (CJK unicode 37239?) in the provided font. Does that sound about

[2020-07-15 19:52] a246530 commented on #29
Recreated and error matches description by @cnblevins

[2020-07-16 02:36] 95Key commented on #26
@a246530  Thank you for your prompt reply,  I prepared a test file and hope to help you :)
[stock_basic.csv.zip](https://github.com/fbdesignpro/sweetviz/files/4928990/stock_basic.csv.zip)

[2020-07-16 04:07] fbdesignpro commented on #26
@95Key thank you for the sample data, and @a246530 for checking it out; hopefully it fixes it!

[2020-07-16 04:35] a246530 commented on #26
@fbdesignpro , i just tested this. It will show correct characters with the UTF-8 meta tag. It will not show them without it.

[2020-07-16 09:00] JitenderSingh8698 commented on #16
@a246530 @fbdesignpro @ECSGuy Thank you guys for your solutions. I will try to follow suggested steps.

[2020-07-16 10:06] kishoremarodia opened #34 "AttributeError: module 'matplotlib' has no attribute 'style'"
File "C:\...\Python\Python37\site-packages\sweetviz\graph.py", line 58, in set_style
    matplotlib.style.use(styles_in_final_location)

AttributeError: module 'matplotlib' has no attribute 'style'

[2020-07-16 11:45] vidyap-xgboost commented on #34
@kishoremarodia can you edit and paste your entire code here to get a better understanding and may be to reproduce it?

What is the system you're working on?

[2020-07-16 11:46] vidyap-xgboost commented on #30
amazing! Thank you!

[2020-07-16 12:11] a246530 commented on #30
#22 will fix this error. tested yesterday.

[2020-07-16 12:17] fbdesignpro commented on #26
(Weird, I think the response just wrote disappeared? Writing it up again...) @a246530 it seems to be working but:
-Getting lots of warnings regarding missing glyphs during report generation
-Graphs will show a missing character symbol

This is due to CJK not being included in the fonts but I can work around that in an upcoming fix. For now I will probably just use your fix with text output. I just

[2020-07-16 12:19] fbdesignpro commented on #30
@a246530 do you have a data set I can test this before/after? I just want to make sure the data shown with this fix is correct.

[2020-07-16 12:21] a246530 commented on #26
Correct. I had missing glyphs errors as well.

[2020-07-16 12:22] a246530 commented on #30
I can't send you the dataset I used because it's medical data. I can try and throw a dataset together that has similar fields and send that over.

[2020-07-16 12:29] fbdesignpro commented on #30
@a246530 Thank you; I don't have a formal "unit test" suite, but I keep around a bunch of test cases. Just a super minimal case with the datetime that you can confirm had the issue before and doesn't after would be great. This probably wouldn't take too long to put together on my end but I'm crunching on another project and every minute is at a premium for the coming weeks but I do want to get the

[2020-07-16 12:40] a246530 commented on #30
No worries.
I found a dataset that creates the error. You can recreate the error by getting a column of dtype datetime64[ns].

Below is just an xlsx file that had dates in it.
[t.xlsx](https://github.com/fbdesignpro/sweetviz/files/4931506/t.xlsx)

Convert column to datetime64 and it will bomb out.
[code]

[2020-07-16 13:13] fbdesignpro commented on #26
Should be closed by 7c3a754.

STILL warnings + missing characters in graphs; It's on my to-do list :)

[2020-07-16 13:13] #26 closed

[2020-07-16 13:15] fbdesignpro commented on #34
It does look like a version/install/environment issue.

[2020-07-16 23:20] darioromero opened #35 "Report gets cut-off after feature #502"
I am running sweetviz to analyze a data set containing 638 features and 259,000 rows. The report building process takes quite some time but it is ok considering the dataset size. However, once I browse the resulting graph the report gets cut off after feature 502. No output after that. I can see the tabs but no information is displayed.

[2020-07-17 14:46] fbdesignpro commented on #30
@a246530 Thank you! #22 did indeed fix the situation, but your sample outlined another case where associations would crash if there are no columns to associate. I just pushed the fix. I will do a cumulative package over the weekend with all these. :)

[2020-07-17 14:46] #30 closed

[2020-07-17 14:49] fbdesignpro commented on #5
Closing as 7c3a754 should fix categorical data, and this was mentioned as the main issue. I am making a note for further date/time support, though. :)

[2020-07-17 14:49] #5 closed

[2020-07-17 14:50] a246530 commented on #30
Nice!!!

[2020-07-17 14:50] fbdesignpro commented on #19
Should be fixed with the latest changes! If you are using the repository, grabbing the latest will fix this. Otherwise a `pip` build will be done soon that contains fixes for this. I will close when it is out.

[2020-07-17 14:51] fbdesignpro commented on #25
Should be fixed with the latest commits, I will close this when a formal `pip` build is sent out!

[2020-07-17 14:52] fbdesignpro commented on #29
@cnblevins Thank you! I will review this ASAP.

[2020-07-17 15:32] fbdesignpro commented on #29
@cnblevins Thank you again for the report, it was caused by NaN values in the Numerical correlation. I have committed a stopgap workaround, which I hope to improve in future versions. But for now it should work, it will just show "no correlation" (0.0) if there is an error in the correlation (i.e. no valid data to do a correlation with). As I said I want to improve the display to explicitly show t

[2020-07-17 15:32] #29 closed

[2020-07-17 15:33] fbdesignpro commented on #28
@nishantp95 Thank you, I will investigate!

[2020-07-18 03:04] fbdesignpro commented on #28
@nishantp95 just pushed a fix! Thanks again! Will include in next version on `pip`.

[2020-07-18 15:07] fbdesignpro commented on #28
Closing, issue should be resolved in 1.0a8

[2020-07-18 15:07] #28 closed

[2020-07-18 15:07] fbdesignpro commented on #25
Closing, issue should be resolved in 1.0a8!

[2020-07-18 15:07] #25 closed

[2020-07-18 15:08] fbdesignpro commented on #19
Closing, issue should be resolved in 1.0a8!

[2020-07-18 15:08] #19 closed

[2020-07-21 04:22] PratikAnjay commented on #6
Hi @fbdesignpro , for my application i deployed the code in Heroku and used the code inside  show_html() but I do not see a output file.

[2020-07-21 04:56] subramanianramajayam opened #36 "sweetviz"
sv.analyze is woking well in DOS mode but fails in python 3.7.7 shell,AttributeError: module 'sweetviz' has no attribute 'analyze'

[2020-07-21 11:39] fbdesignpro commented on #20
@Pini79 this should be resolved with the latest version (1.0beta3), can you verify this is fixed for you? I will mark this is close if that is the case. Thank you!

[2020-07-21 11:40] fbdesignpro commented on #17
@JohnDeJesus22 @Sohaibe93 The horizontal scroll bar is now back in 1.0beta3! Can you let me know if this is now working on your end? Sometimes updates have had issues being applied so I just wanted to make sure. :)

[2020-07-21 11:41] #12 closed

[2020-07-21 18:58] sourovsahoo opened #37 "ModuleNotFoundError: No module named 'sweetviz'"
installation is successful,still i am getting error.
ModuleNotFoundError: No module named 'sweetviz'

[2020-07-21 19:55] a246530 commented on #37
You ran pip list and it shows up correct?

[2020-07-21 21:02] JohnDeJesus22 commented on #17
@fbdesignpro Thanks for the quick update on this! It is working well. I can scroll horizontally now. It is cool seeing the correlation associations for features!

Question: When you get those charts and tables for a selected feature, are they suppose to fit to screen? On 100% view they are vertically cut off but if I zoom out I can see them.

Thanks again for the help and this awesome library!

[2020-07-22 01:16] sourovsahoo commented on #37
Yes.all files were downloaded.

On Wed, 22 Jul 2020, 01:26 Michael Carson, <notifications@github.com> wrote:

[2020-07-22 07:31] Sohaibe93 commented on #17
@fbdesignpro Thank you, it works great now :)

[2020-07-22 11:48] johann-petrak opened #39 "API: add method to get the HTML (parts) instead of always saving and showing it"
This would be useful in all contexts where the library is used in a context which already shows HTML, e.g. Jupyter notebooks, dash, etc.

What is really needed is to retrieve the generated div for the report plus the necessary javascript and styling. Depending on how the HTML output is designed, it may be sufficient to include javascript and styling only once in each page.

I did not look at the g

[2020-07-22 12:42] fbdesignpro commented on #17
@JohnDeJesus22 Glad to hear it! The display was made to fit on a 1080p screen, so if your monitor is smaller it would be cut off. I'm glad zooming out does solve it but out of curiosity what resolution/platform are you using?

[2020-07-22 12:45] fbdesignpro commented on #37
@sourovsahoo That sounds similar to #36. It's like there is something weird with the install in general. Can you detail out your configuration/platform? Are you running in a notebook, or in pycharm etc.? Thank you for reporting this and let us know as much information as possible, we will try to fix this ASAP!

[2020-07-22 12:45] fbdesignpro commented on #36
@subramanianramajayam that sounds similar to #37, like there is something weird with the install. Can you detail out your configuration/platform? Are you running in a notebook, or in pycharm etc.? Thank you for reporting this and let us know as much information as possible, we will try to fix this ASAP!

[2020-07-22 12:49] fbdesignpro commented on #39
@johann-petrak thank you for the feedback; exactly what you described is a top priority of mine for the next major update, it will just be a matter of finding the time, but it will happen.

I am actually looking into doing a more "vertical" layout because notebooks seem to be more "thin". There IS a way to make the output wider (i.e. Take up the full screen width instead of just the middle part) b

[2020-07-22 13:16] sourovsahoo commented on #37
Im using windows10,Anaconda navigator(Anaconda3) and running it in jupyter
notebook 6.0.1.
Step2-I created a fresh new environment of python 6+

Step2-installed the pip in the command prompt which got sucessessful.

On Wed, 22 Jul 2020, 18:15 Francois Bertrand, <notifications@github.com>
wrote:

[2020-07-22 15:29] bhishanpdl opened #40 "compare infra fails with KeyError: 'cannot use a single bool to index into setitem'"
This seems to be a possible bug:
[code]

# MWE
[code]

# Error
[code]

[2020-07-22 15:32] bhishanpdl opened #41 "Add version attribute __version__"
This is just a suggestion to the developer of this awesome module:

Generally to get the version number of a python module we do:
[code]

I suggest to add this attribute to this library so that this gives the version number:

[code]

[2020-07-22 15:44] bhishanpdl opened #42 "compare fails with Key Error"
This seems to be a possible bug:
[code]

# MWE
[code]

# Error
[code]

[2020-07-22 15:55] bhishanpdl opened #43 "Make font color of "missing" red"
Suggestion:

This is an open suggestion that the font color of "missing" in report HTML would be nicer (IMHO) it has color red.

[2020-07-22 15:58] bhishanpdl opened #44 "Add more descriptive statistics"
Some suggestions:
- There is already distinct count.

More features:
- number of ZEROS and its percentage

[2020-07-22 16:04] bhishanpdl opened #45 "Add box plots"
version: 1.0.3
date: Jul 22, 2020

Currently "sweetviz" only has bar-charts for visualizations. For medium-size data analysis (such as titanic or Boston housing) it is not much costly to show box-plots as well as bar-plots. For a larger dataset, it can be made optional in `config.ini`file and can also be determined file size to make it true or false.

For example:
[code]

[2020-07-23 12:28] fbdesignpro commented on #44
@bhishanpdl Thank you for the suggestion, should be easy enough to add!

[2020-07-23 12:29] fbdesignpro commented on #41
@bhishanpdl good suggestion, will do! Thank you! :)

[2020-07-23 12:31] fbdesignpro commented on #43
@bhishanpdl thank you for the suggestion! This totally makes sense to us; actually our original design had "Missing" field had a color-coded rectangular highlight, we just never got around to implementing it.

This is simple enough and it's good to see that was something that would be appreciated so we will increase the priority.

[2020-07-23 12:57] AarthiKalyanasundaram opened #47 "Sweetviz needs to handle None values in the missing values section"

[2020-07-23 13:57] shgo opened #48 "Integer feature with values 1 and 2 cannot be handled as categorical?"
Hey guys, I'm getting an error when handling integer columns but the error message is not very clear for me to understand what is going on. So far it looks like a bug to me. Here it goes.

We start by importing basic stuff and generate a pandas dataframe with 4 columns containing random real numbers, plus an integer column named 'target' with values 1 and 2.
[code]
Taking a look at the original ty

[2020-07-23 14:47] shgo commented on #47
Later on I'll prepare some steps for reproduction, but I also have noticed some irregular behavior when comparing datasets and one of them has a column with null values, which is expected to happen in this application.

Do you guys have some references explaining how to handle null values with more care in sweetviz (or other libs behind it)?

[2020-07-23 14:50] fbdesignpro commented on #48
@shgo Thank you very much for the detailed writeup! Good catch! I believe it is probably an edge case of trying to automatically detect Boolean features. This is likely a bug, I will definitely check it out ASAP (it will have to be in the coming days, I am crunching at work...).

[2020-07-23 14:51] AarthiKalyanasundaram commented on #47
@shgo , Do I need to add steps to reproduce or kind of references ?

[2020-07-23 14:55] fbdesignpro commented on #47
@AarthiKalyanasundaram @shgo Thank you for the reports! I recently realized that I have not verified behavior enough with missing values, but you are correct it should definitely be handled. This is indeed why we are calling this a beta. :)

The latest (beta3) was the first to more meaningfully handle missing values. I know it has some issues still, but it was a stopgap to at least stop crashing a

[2020-07-23 14:56] shgo commented on #47
I am endorsing your question with some of the things I could notice.
But I think it would be great for everyone if you provide more details to reproduce what you mean. It is usually half of the way of finding a fix

[2020-07-23 18:21] a246530 commented on #43
I gotta plus one this. Red would be nice. Sometimes i miss the blue part because it blends in.

[2020-07-24 01:46] fbdesignpro commented on #47
@AarthiKalyanasundaram yes, any further information/replication steps would be extremely useful. Also, if you can confirm which version of Sweetviz you are using, just to be sure. Thank you!

[2020-07-24 02:26] fbdesignpro commented on #48
Hi @shgo! Turns out it was a good one! You are correct that the way to fix it is to force the automatically-detected boolean series to be categorical. However; there was a missing line of code to handle that case ;)

By the way using the feature config, you don't have to specify EVERY column, JUST the ones you want that are not being detected correctly or to your liking. (You might have known that

[2020-07-24 02:27] fbdesignpro commented on #41
Thank you, added in the latest 1.0beta4!

[2020-07-24 02:27] #41 closed

[2020-07-24 02:28] fbdesignpro commented on #42
@bhishanpdl should be fixed with the latest 1.0beta4, let us know! :)

[2020-07-24 02:28] fbdesignpro commented on #40
@bhishanpdl should be fixed with the latest 1.0beta4, let us know! :)

[2020-07-24 02:35] #17 closed

[2020-07-24 04:47] AngShengJun opened #49 "Error message in pip install sweetviz"
Hi, attempting to install sweetviz using pip install sweetviz, but kept encountering following error message (reproduced below)
Am using pandas version 1.0.1. Kindly advise, thanks.

`Installing collected packages: importlib-resources, pandas, tqdm, sweetviz
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.1
    Uninstalling pandas-1.0.1:
ERROR: Could not install packages

[2020-07-24 10:49] AarthiKalyanasundaram commented on #47
Hi,
I have attached my code file and word document with screenshots for replication.
![image](https://user-images.githubusercontent.com/36664362/88383924-156ff200-cdc9-11ea-82a3-40d426c19fde.png)
Both the Income and Age contains missing values but it is not represented in the html report.

I have attached the link (url) for the data used which contains None values as Missing data.

[https://raw.gi

[2020-07-24 11:55] fbdesignpro commented on #47
Hello @AarthiKalyanasundaram, thank you for the detailed report!

I see what is happening; the issue is that the values are not missing, they are actual text saying "None". There are formal Pandas/Python/numpy representations of missing data (e.g. None, np.nan, etc), and it is what the library is looking for. I believe it is correct that way, because it's a well-understood built-in mechanism, and

[2020-07-24 11:55] #47 closed

[2020-07-24 12:29] a246530 commented on #49
Do you have issues installing other packages. It appears to be a permissions error.

[2020-07-24 13:30] anirbansaha96 commented on #49
Please try `pip install sweetviz --user`. You're having an issue related to permissions.

[2020-07-24 14:19] AngShengJun commented on #49
Hi, running `!pip install sweetviz` in jupyter notebook worked. Thanks for the prompt clarification!

[2020-07-24 14:19] #49 closed

[2020-07-24 14:22] anirbansaha96 commented on #49
Glad it helped. Have a nice day :) 👍

[2020-07-24 15:03] shgo commented on #48
Thanks for acting so fast @fbdesignpro!

[2020-07-24 17:57] fbdesignpro commented on #48
@shgo Just to be SUPER sure, did you verify that it fixed it? :)

[2020-07-24 17:57] fbdesignpro commented on #49
@anirbansaha96 thanks for jumping in with this excellent suggestion! :) 👍

[2020-07-24 18:46] shgo commented on #48
Just did it, but seems to hit another issue.

**Error 1: TypeError**
[code]
Results in the following error:
[code]

** Error 2: Compiles report but does not show correct output for categorical variable **

Now running with feat_cfg indicating 'target' column to be categorical:
[code]
Generates the report without errors, but on the report, the section for the variable 'target' does not show the con

[2020-07-25 17:12] anirbansaha96 commented on #49
@fbdesignpro Glad I could help. It's a great library. Waiting for branch #11 to be merged.

[2020-07-26 21:07] fbdesignpro commented on #48
@shgo thank you for the detailed follow-up! This makes sense and will be fixed in the next build (which should be soon). In a nutshell:

Error 1 is unavoidable; the source contains only 1's, so is auto-detected to be boolean (I think that is fair enough), but the comparison only contains 2's (detected as categorical, which makes sense), so to avoid any ambiguities the feature_config is needed to e

[2020-07-27 17:12] fbdesignpro commented on #48
@shgo I committed a fix that actually only sets the index to be strings when dealing with categorical/string indices already. Changing to strings all the time actually caused mismatches when dealing with integer/float indices. I'm not sure that made sense, but this should be fixed in the repository right now, and will be part of the next beta5 which should go out shortly. :) I will let you know wh

[2020-07-28 01:43] fbdesignpro commented on #48
@shgo 1.0beta5 is released, the problems should be fixed! Fingers crossed! :)

[2020-07-28 18:35] seantma commented on #16
@JitenderSingh8698 Any luck finding the `.html` file generated in Databricks workspace? I've tried searching thru `dbutils.fs.ls('./')` but had no luck!

[2020-07-29 08:33] priyanshu2210 opened #50 "ValueError: Duplicate column names detected in "source"; this is not supported"
While passing dataframe to get a sweetviz report it throws the following error:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-27-82d7a9602cea> in <module>
----> 1 da_report=sv.analyze(features)

~\AppData\Local\Continuum\anaconda3\lib\site-packages\sweetviz\sv_public.py in anal

[2020-07-29 08:55] #50 closed

[2020-08-02 14:37] bhishanpdl commented on #42
The problem is solved.
Date: Aug 2, 2020
[code]

[2020-08-02 14:37] #42 closed

[2020-08-02 14:37] bhishanpdl commented on #40
The problem is solved.
Date: Aug 2, 2020
[code]

[2020-08-02 14:37] #40 closed

[2020-08-03 16:31] a246530 opened #51 "More in depth analysis of nulls"
I was just reading over this article and thought that while having the null count on each feature is really nice, having something that allows us to see the nulls over time as well might be beneficial in some cases.
https://towardsdatascience.com/visualizing-the-nothing-ae6daccc9197

[2020-08-03 22:35] jmcneal84 opened #52 "FloatingPointError: divide by zero encountered in true_divide"
I ran into a "FloatingPointError: divide by zero encountered in true_divide" in the pairwise feature portion of the code. Apparently there was a divide by zero issue in the cov part of the underlying code.

The trace of the error is as follows:
file: sv_public.py, line 13, in analyze, pairwise_analysis, feat_cfg)
file: dataframe_report.py, line 243, in __init__, self.process_associations(features_

[2020-08-04 14:14] jmcneal84 commented on #52
It turns out by removing the empty strings, by running a dataframe.replace('',numpy.nan,inplace=True) in the fields, that it was able to run completely without issue.

[2020-08-04 14:18] fbdesignpro commented on #52
@jmcneal84 Thank you, this is a great catch! Thanks also for following up with the workaround, but this should definitely be handled by the system. I will look into this for the next revision.

[2020-08-09 13:57] RafeyIqbalRahman opened #53 "Incorrect report"
The Sweetviz data analysis report is incorrect in my case.

The report in PDF format: [Analyst.html.pdf](https://github.com/fbdesignpro/sweetviz/files/5047620/Analyst.html.pdf)

Code to reproduce the error:

`from pandas import read_csv, DataFrame`
`!pip install sweetviz`
`import sweetviz as sv`
`df = read_csv('https://raw.githubusercontent.com/wanderloop/WanderlustAI/master/assumed_pha_thousand.c

[2020-08-10 20:50] fbdesignpro commented on #53
Hi @RafeyIqbalRahman thank you for the report! This is due to an extremely small range of values, this will be fixed shortly, I will post back here when it is.

[2020-08-11 04:18] RafeyIqbalRahman commented on #53
You're welcome.

[2020-08-11 13:50] fbdesignpro commented on #52
@jmcneal84 would you have a test case for this you could upload here? I'm having trouble reproducing this exact case. Thank you!

[2020-08-11 21:59] jmcneal84 commented on #52
I unfortunately can't upload an example of the data since it's proprietary. I do believe that it had to do with empty strings being in latitude and longitude fields.

[2020-08-12 12:38] fbdesignpro commented on #53
@RafeyIqbalRahman just committed a fix. The main `pip` package will be updated later today and I will be posting here. When it is ready, remember to UNINSTALL then INSTALL to update. :) For some reason, simply doing `pip update` doesn't always work correctly.

[2020-08-12 12:42] fbdesignpro commented on #48
@shgo just to make SUPER sure, can you confirm beta5 resolved your issue? Thank you again for all the details, I think it got us to fix this!

[2020-08-12 12:43] #20 closed

[2020-08-12 13:12] fbdesignpro commented on #53
@RafeyIqbalRahman 1.0b6 is now live, the issue should be fixed! If you have the opportunity, definitely let me know if it works or not and I will close the issue if it does. Thanks again!

[2020-08-12 14:48] javaliuseu opened #54 "python3.7.1"
module 'sweetviz' has no attribute 'analyze'

[2020-08-12 14:50] javaliuseu commented on #54
Hi,
This is the first time that I use sweetviz, python3.7.1
Just pip installed sweetviz and run the sample code and get the error

import sweetviz as sv

my_report = sv.analyze(my_dataframe)
my_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

module 'sweetviz' has no attribute 'analyze'

[2020-08-12 17:01] shgo commented on #48
Hey @fbdesignpro, sure! Just tested it and everything run smoothly! Thanks for the work mate!

[2020-08-12 17:03] fbdesignpro commented on #48
@shgo awesome! Thanks for checking! :)

[2020-08-12 17:03] #48 closed

[2020-08-12 17:13] RafeyIqbalRahman commented on #53
Yes @fbdesignpro, the issue is fixed now. Thanks for the quick fix. I shall close the issue now. You're welcome. :)

[2020-08-12 17:13] #53 closed

[2020-08-12 17:20] fbdesignpro commented on #54
@javaliuseu this seems to happen on some installs for some reason. Can you tell us what happens if you simply type `sv` after the import statement? (you should get some sort of description of the module)

Also, can you tell us which environment you are using (Pycharm, Jupyter, etc.)? This would help narrow it down. Thank you!!

[2020-08-12 18:59] javaliuseu commented on #54
@fbdesignpro thank you for your prompt reply.
if I type sv it simply get " (module) sv " prompt when cursor point to it.
and if I use tab to get more functions hints I could not find any function as the documentation states.
but wired to see other variables I defined in my code.
I use vscode 1.47.2 as python dev env.

Thanks!

[2020-08-12 23:35] fbdesignpro commented on #54
@javaliuseu if you just type "sv" then ENTER, what kind of output do you get?

[2020-08-13 08:03] javaliuseu commented on #54
@fbdesignpro if I just type sv then ENTER, I got nothing but only sv itself.

Thanks!

[2020-08-13 12:19] javaliuseu commented on #54
I also tried python 3.6 and python3.8 same issue.
I am running on linux btw
3.10.0-1062.1.1.el7.x86_64 #1 SMP Tue Aug 13 18:39:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2020-08-24 17:40] jmcneal84 commented on #52
I was getting the code to work without issues by replacing the empty strings with na, but it hit the issue again. I'm still trying to trace down exactly what field is causing the issue since the features part runs fine, but it's in the pairwise comparison that the issue is thrown. Since it seems to be a correlation or covariance issue, it may be that the the values in the column are so close to th

[2020-08-24 17:57] mojo46 opened #55 "AttributeError: module 'sweetviz' has no attribute 'analyze' in office network"
when i tried to analyze my data frame i am getting this error.

---->1 **my_report = sv.analyze(df)**
      2  my_report.show_html()

[2020-08-24 19:45] jmcneal84 commented on #52
I may have figured out the issue with the data. It seems to be coming from columns that are mostly 0's with an occasional 1, 2 or 3. Out of over 2 million rows of data, if you have mostly 0's you'll get a divide by 0 error. I'm doing a random 15% sample of my data in sweetviz, and so if it happens to pull all the records with 0 in a specified column, that may explain where the error is coming from

[2020-08-25 13:09] jmcneal84 commented on #52
I was thinking more about this last night. Since the pairwise comparison is looking at the correlation of numbers, if a column in a data set by chance has all of the same values, the standard deviation used in the correlation would be zero, and thus cause a divide by zero/floating point issue.

[2020-08-25 14:59] jmcneal84 commented on #52
I haven't had time to try this, but a possible solution may be that on line 423 of the dataframe_report.py just needs to be changed from
                         cur_associations[other.source.name] = \
                            feature.source.corr(other.source, method='pearson')
to
                       try:
                            cur_associations[other.source.name] = \

[2020-08-26 13:55] jmcneal84 commented on #52
Along with the above code I added one more try and except block, and it appears to work. The runtime warning is still displayed, but at least it finishes the process.
This is the code I changed in the datframe_report.py file  starting at line 417:

`                elif self[feature_name]["type"] == FeatureType.TYPE_NUM:
                    # NUM source
                    # ----------------------

[2020-09-04 17:43] dl1683 opened #56 "Sweetviz closes the Tkinter Window"
When I try to use Sweetviz in conjunction with Sweetviz, it closes Tkinter for some reason. It is very strange.

[2020-09-08 17:10] Buckeyes2019 opened #57 "Config File Not Applying Changes"
This is a great package and I love the idea of a one-stop data profile approach.  My only note is that I cannot seem to get the config file (sweet_viz.ini) to apply my changes.  I tried directing to my own .ini file with minor changes to sweet_vix.ini and the changes did not take.  I then tried changing the setting within sweet_viz.ini directly (by setting the logo =0) and it still did not take.

[2020-09-09 15:34] seantma opened #58 "TypeError: conversion from numpy.float32 to Decimal is not supported"
Hi, was running `compare_intra()` on my dataframe and encountered this error:

Should the `value` be converted into a Python item first?

[2020-09-10 12:21] fbdesignpro commented on #56
@dl1683 this is indeed strange ; does this happen when you create a report, or when you "show_html" after it was created?

[2020-09-10 12:23] fbdesignpro commented on #57
@Buckeyes2019 thank you for the good words! I have not heard of something like this but it could be related to being used in the context of a notebook (file path or access?). I have not had time to look into things recently but I will add this to my priority list when I get back to it. The fact that changing the file itself didn't do anything is strange indeed.

[2020-09-10 12:26] fbdesignpro commented on #58
@seantma thank you for the report! I wonder if we shouldn't do something like `Decimal(float(value))`. I cannot test this right away but if you are using sources you could try that, otherwise I will definitely give this a shot next week. Do you have a small sample error test case dataset just to be sure?

[2020-09-11 09:35] dl1683 commented on #56
After the HTML is created. I create a bunch of them, so for me it closes
after the last one.

On Thu, Sep 10, 2020, 17:51 Francois Bertrand <notifications@github.com>
wrote:

[2020-09-15 04:57] JacoBezuidenhout commented on #11
Good morning all,

Firstly thanks to @fbdesignpro and collaborators for this great library.

I had the same problem so I just created my own subclass of the DataframeReport class and added a get_html function. Maybe this helps...

[code]

[2020-09-18 10:21] lyj1991 opened #59 "show the value in Continuous grouping"
Hello,
1、when I deal with continuous variables, no matter whether I choose different groups of 5, 10 or 20, the range value of each group on the horizontal axis is not clear, and it is basically the same.
![image](https://user-images.githubusercontent.com/20986633/93587158-062daf00-f9dc-11ea-9977-35c017c26211.png)

![image](https://user-images.githubusercontent.com/20986633/93587015-c9fa4e80-f9db-

[2020-09-21 14:33] mojo46 commented on #55
when connected to a VPN like office network getting the above attribute error.

Do we have any solution for this ?

[2020-09-22 10:11] #55 closed

[2020-09-23 14:44] shgo commented on #15
Hey folks, giving my two cents on this, I miss a method that is able to generate the html output without opening it in a browser.
Is there such a way to use sweetviz? If not, do you think it would be useful to have a new method that only generates the html output without showing it? Or maybe an argument on show_html?

[2020-09-25 14:23] fbdesignpro commented on #58
Just wanted to mention I've been buried with work but this is still on my radar as soon as I have a few minutes to Look into this! @seantma as I was saying it would always help if you had a small test case I could look at.  Thank you!

[2020-09-25 14:28] fbdesignpro commented on #59
@lyj1991 Thank you for the feedback! Apologies for the delay as I have been extremely busy at work.

1. The scale at the bottom doesn't change on purpose; the numbers at the bottom are not mapped to columns ("bins") 1:1, They simply indicate the location of the center of each bin. So looking at the same data the numbers at the bottom would not be expected to change, just that you get more detail a

[2020-09-25 14:31] fbdesignpro commented on #15
@shgo Thank you for the feedback; this has been suggested a few times and is the very next thing I will implement.

To better implement the feature, I was wondering how you would be using this HTML. I am guessing you would Incorporate it into Another page so you would NOT want <head> and <body> tags, correct?

Thank you, any info will help implement the feature in a way that works best!

[2020-09-25 14:44] shgo commented on #15
In my case, I want to generate a set of reports programmatically, with the html output being stored in another folder to be visualized later on as reports.

[2020-09-29 12:12] guduxingzou opened #60 "colname is ‘index’ error"
if dataframe colname include 'index'  ,then you  will get error:

 the true value of a series is amabiguous. use a empty,a.bool(),a.item(),a.any() or a.all

so  delete or skip  'index' col.
列名里不能有叫index的列，否则会报错。要么直接删除，要么加到skip中即可。

[2020-09-30 14:15] fbdesignpro commented on #60
@guduxingzou thank you for the report, good catch! I will look into this.

[2020-09-30 14:30] fbdesignpro commented on #15
@shgo Thank you for the information, this will get added in the next update.

[2020-09-30 14:31] fbdesignpro commented on #55
Hello @mojo46, thank you for your report. This type of error has been a bit mysterious to me as it would mean the install didn't work but it's not clear to me how. It looks like you close the issue. Can you tell me how we were able to resolve it if that's the case?

Thanks again!

[2020-09-30 15:14] fleschgordon opened #61 "error Font family ['STIXGeneral'] not found. Falling back to DejaVu Sans. occure"
hi,

sweetviz does not work for a special table

i get the following error
AAfindfont: Font family ['STIXGeneral'] not found. Falling back to DejaVu Sans.
findfont: Font family ['DejaVu Sans'] not found. Falling back to DejaVu Sans.
findfont: Font family ['DejaVu Sans'] not found. Falling back to DejaVu Sans.
findfont: Font family ['DejaVu Sans'] not found. Falling back to DejaVu Sans.
findfont: F

[2020-10-01 17:15] kochuyt opened #62 "Feature request: take 'ordered' into account for Categorical variables"
**Background of feature request**

In statistics a distinction is made between categorical data which has no inherent order (aka _nominal scales_) and categorical data which does have order (aka _ordinal scales_).
Among other places, this  distinction is used when creating histograms of the frequency of occurrence of categories.

- For nominal data, the categories on the x-axis are typically order

[2020-10-02 16:43] #59 closed

[2020-10-02 16:44] fbdesignpro commented on #57
@Buckeyes2019 Can you tell me the environment you are running in? (IDE, notebook type, etc. + Python version) Thank you!

[2020-10-02 16:55] Buckeyes2019 commented on #57
Jupyterlab 2.2.6
Python 3.8.5
SweetViz 1.0b6

[2020-10-05 12:25] fbdesignpro commented on #61
@fleschgordon I have not seen this before... the package should find the font. You mention it is for a special table. Would you have any further information on the type of data you are creating a report for, also the Python platform (e.g. PyCharm, jupyter, etc) and version (and Sweetviz version) you are using?

Thank you!
Francois

[2020-10-05 12:52] fbdesignpro commented on #61
@fleschgordon also, can you tell me what version of matplotlib is installed? (different versions have different quirks) Thank you!

[2020-10-05 12:54] #34 closed

[2020-10-05 12:54] fbdesignpro commented on #27
Hello @Liwellyen! I was curious if you ever were able to install new versions of sweetviz and if not, if you are still getting the same error. Thank you!

[2020-10-08 13:38] #27 closed

[2020-10-08 13:41] fbdesignpro commented on #37
Hello @sourovsahoo! It's been a while but I was wondering if you ever got the installation to run. I would really like to resolve any install issues for all users so I gathered the following information, please let me know if you (or anyone else) try this and get positive or negative results!

- Make sure none of your scripts are named `sweetviz.py`, as that interferes with the library itself. Del

[2020-10-08 13:41] fbdesignpro commented on #36
Hello @subramanianramajayam ! It's been a while but I was wondering if you ever got the installation to run. I would really like to resolve any install issues for all users so I gathered the following information, please let me know if you (or anyone else) try this and get positive or negative results!

- Make sure none of your scripts are named `sweetviz.py`, as that interferes with the library i

[2020-10-08 13:47] sourovsahoo commented on #37
I installed it.working good.
Thank you

On Thu, 8 Oct 2020, 19:11 Francois Bertrand, <notifications@github.com>
wrote:

[2020-10-08 14:19] fbdesignpro commented on #37
@sourovsahoo really glad to hear it! Thank you for letting me know. If I may ask, did you just try reinstalling or did you have to do some of the more complex steps of the above?

[2020-10-08 14:26] sourovsahoo commented on #37
1st time i tried all type of different methods.
1.creating a new enviornment
2.pip install sweetviz etc etc
But it was not running.
after few days i just did pip install sweetviz and.wow it got executed.

On Thu, 8 Oct 2020, 19:50 Francois Bertrand, <notifications@github.com>
wrote:

[2020-10-08 14:51] fbdesignpro commented on #37
@sourovsahoo thank you for the details! Yeah, wow! Well I'm glad it worked :)

[2020-10-08 14:51] #37 closed

[2020-10-09 13:30] fbdesignpro commented on #52
Hello @jmcneal84! Thank you so much for your efforts in debugging this! I have literally been overwhelmed by work until recently and could not look at this again. I finally did, and I cannot seem to get that error. I tried setting columns to NAN, an empty string, "all 0's except a single 0.00001" or combinations of these, but it's still coming out fine (at least no crashes; trivial correlations wi

[2020-10-10 00:49] jmcneal84 commented on #52
I actually haven't really looked at it either since I made the fix in my own code. The only thing I can remember was that the entire columns were the same values. It may have failed since there were multiple columns that were all zeros.
The error code I kept getting had to deal with the pearson correlation dividing by zero at some point in the pairwise comparison of two columns.

[2020-10-13 11:03] tzoukritzou opened #63 "Issue when running show_html() method"
I tried the basic usage with an = sv.analyze(df) and then an.show_html(). Then I get the error:

Traceback (most recent call last):
  File "yo.py", line 27, in <module>
    an.show_html()
  File "/usr/local/lib/python3.8/dist-packages/sweetviz/dataframe_report.py", line 276, in show_html
    self._page_html = sv_html.generate_html_dataframe_page(self)
  File "/usr/local/lib/python3.8/dist-packages

[2020-10-13 23:35] fbdesignpro commented on #63
Hello @tzoukritzou, thank you so much for the report! This is a strange error... Is there anything you can tell me regarding the data you are using? Or any parameters like are you using any options like turning off pairwise_analysis?

 Thanks again!

[2020-10-14 11:14] tzoukritzou commented on #63
Hi @fbdesignpro. Nothing out of the ordinary with my data I suppose, the df is a dataframe with around 20000 rows and 800 columns. Only numbers in the data, no categorical features, no na values. I am not using any parameters in the function calls so the defaults are used.

I just tried running it with pairwise_analysis='off'. First, while before it took 2 seconds to finish, with this parameter sp

[2020-10-17 17:13] HaoVJiang opened #64 "show_html Generate a Strange Layout of Analysis"
Hey there, this is a great package and it is pretty handy. However, I run into a strange layout issue when generating the plot.

Above is the code I used, and I attached the result's layout as a png file below.

1: Would you kindly inform me of the option for layout in show_html()?
2: How I should solve this issue?

Thank you so much!

![SWEETVIZ_REPORT-html](https://user-images.githubusercontent.

[2020-10-17 19:56] fbdesignpro commented on #64
Hi @HaoVJiang , thank you for posting here! I have never seen this output before. Are you installing from pip, or did you download the repository?

Also, could you upload the html report here, or email it to me privately? I wonder if it is browser related (which browser are you using?) or something with how the report was generated for some reason.

Thanks again!
Francois

[2020-10-18 15:45] fbdesignpro commented on #60
Hi @guduxingzou! Again, thank you for the report. I just updated Sweetviz to version 1.1, which should fix the issue. Can you confirm it is working better now?

Thanks again!
Francois

[2020-10-18 15:46] fbdesignpro commented on #58
Hi @seantma! Again, thank you for the report. I just updated Sweetviz to version 1.1, which should fix the issue. I don't know if you're still looking at the data, but if you have a chance it would be great if you confirm this is now fixed.

Thanks again!
Francois

[2020-10-18 15:47] fbdesignpro commented on #57
Hello @Buckeyes2019!  Again, thank you for the report. I just updated Sweetviz to version 1.1, which should fix the issue. I don't know if you're still looking at the data, but it would be great if you could confirm this has fixed it.

Thanks again!
Francois

[2020-10-18 15:49] fbdesignpro commented on #52
Hello again @jmcneal84! With the latest version 1.1 I made error handling for the correlations more robust, but I don't think I was ever able to get your error case. I think you may have moved on from that data but if you ever get a chance to test with 1.1 I would be curious to see if my changes fixed some of this.

Thanks again,
Francois

[2020-10-18 15:49] #35 closed

[2020-10-18 15:50] fbdesignpro commented on #35
This should be fixed as of 1.1.

[2020-10-18 15:51] fbdesignpro commented on #23
Hello @shagreobe! It's been a while so you probably have moved on from that data, but I did want to let you know that version 1.1 which I just pushed live supports an INI override to specify a Chinese-Japanese-Korean (CJK) font which would help with the display and get rid of the warnings. (instructions are in the README)

If you ever get a chance to try it, do let me know if it works as it should

[2020-10-18 15:51] #23 closed

[2020-10-18 15:53] fbdesignpro commented on #43
@bhishanpdl and @a246530, thank you for your feedback, you will be happy to know that version 1.1 includes this feature and really helps point out the level of missing data in features.

If you have a chance to try it out, do let me know how it works for you.

Either way, thank you!

Francois

[2020-10-19 18:09] HaoVJiang commented on #64
Dear @fbdesignpro

I hope this message finds you well. Thank you for your reply! and I think I installed the package correctly. Also, the browser I use is Chrome, and the ide I use is Pycharm.

I attached the report in this post for your reference, and I am looking forward to hearing from you soon!

[html report](file:///Users/jianghao/Downloads/report.html)

Best Wishes,
Sincerely Hao Jiang

[2020-10-19 18:09] HaoVJiang commented on #64
file:///Users/jianghao/Downloads/report.html

[2020-10-19 18:12] HaoVJiang commented on #64
Also, if you cannot access the link above, would you kindly provide your email address. So I can send the HTML file to you? Thank you again!

[2020-10-20 05:59] fleschgordon commented on #61
Hi @fbdesignpro
i use python 3.6.10., matplotlib version is 3.1.3, the columns with the error is from type object (nvarchar(400) in the database).
i use sweetviz 1.0b3

[2020-10-21 13:06] fbdesignpro commented on #64
@HaoVJiang thank you; as you suspected the report link is not valid. Please send me the report to fb@fbdesignpro.com

Also, are you getting this with any data set? Or only this one in particular?

Also, can you tell me what your development environment is? (Python version, IDE, etc.)

[2020-10-21 13:08] fbdesignpro commented on #63
@tzoukritzou thank you for the info! Yes 800 columns would take a long time since it's roughly (n^2) combinations to compute. Not sure why that would make it failed in such a weird way, though.

I do have 2 quick questions:

1. Did you get a warning initially about needing to explicitly set `pairwise_analysis='on'`? I'm asking just to make sure the system works as intended (for such a large number

[2020-10-21 13:10] fbdesignpro commented on #61
@fleschgordon thank you for the details. Sweetviz was recently updated to 1.1 and I know in some cases font issues were fixed. Can you try uninstalling then reinstalling Sweetviz and see if it fixes it?

[2020-10-22 12:15] fleschgordon commented on #61
Hi @fbdesignpro, i tried V 1.1 without success.

[2020-10-24 14:07] HaoVJiang commented on #64
Hey Mr. Bertand, I sent the dataset and report link to the email address you provided. In addition, the IDE I am using is Python 3.7 Pycharm. Please let me know if you need anything from me! I hope you have a great weekend ahead!

[2020-10-28 16:45] Mol1hua opened #65 "ValueError when analyzing with numeric target and other categorical feature"
Hello,

I love trying out the sweetviz library! I am using a numeric target variable "dummy_overall_status" and have some categorical features in the data set, e.g. "test_device". Unfortunately, when I run

`my_report = sv.analyze(df, pairwise_analysis = "off", target_feat = "dummy_overall_status")`

I get the following error message for my categorical variable "test_device":

[code]

followed by

[2020-10-28 17:19] Mol1hua commented on #65
I got it to run for now,  I noticed I had NaN in the target variable!
I still don't understand how that caused the error above, but I am happy it is running now.  :-)

[2020-11-12 18:44] LuchaoQi commented on #52
Same problem with version 1.1.2

[code]

[2020-11-24 15:04] fbdesignpro commented on #65
Hey @Mol1hua! Thank you so much for the report! Apologies for the delay in answering; it's been a weird month on my side.

I did take a look at the issue and did a couple of fixes. However, the more I dug in, the more I realized that having NaN fields in the target variable potentially lead to confusion for the user.

e.g. how to interpret target distribution if, say, 60% of the target data was mi

[2020-11-24 15:07] fbdesignpro commented on #64
@HaoVJiang thank you again; I could not reproduce the issue locally, even with your data set. I have not received a response to my e-mail from October 26, let me know if the issue is still happening with the latest version!

[2020-11-24 15:11] fbdesignpro commented on #60
Closing, as this should be fixed under 1.1

[2020-11-24 15:11] #60 closed

[2020-11-24 15:11] fbdesignpro commented on #58
Closing, as this should be fixed under 1.1

[2020-11-24 15:11] #58 closed

[2020-11-24 15:12] fbdesignpro commented on #57
@Buckeyes2019 I am not sure if you're still getting this, but I will be closing this issue, as this should be fixed under 1.1, let me know if it still occurring! Thank you!

[2020-11-24 15:12] #57 closed

[2020-11-24 15:13] fbdesignpro commented on #43
Updated as of 1.1

[2020-11-24 15:13] #43 closed

[2020-11-24 15:14] fbdesignpro commented on #14
Closing as this is as per documented; mixed type cannot be supported.

[2020-11-24 15:14] #14 closed

[2020-11-30 15:45] fbdesignpro opened #67 "Sweetviz 2.0.1 updates"
Hello @nathancarter @a246530 @bonamprabhu @chadaeschliman! I'm not sure what is the "proper" way to do this but since you guys are the most active collaborators, I thought I would ping you here regarding the new version of Sweetviz I just pushed. Most significantly, it has major updates with regard to reports:

- a new show_notebook(...) function to embed the output inside notebooks
- vertical lay

[2020-11-30 15:47] nathancarter commented on #67
Congrats on the new release!  I'm finishing up a semester here, so no time at the moment to dive in, but the new features sound cool!  Looking forward to trying them out in the future.

[2020-12-01 18:55] jackyyanggp opened #68 "AttributeError: 'str' object has no attribute 'shape'"
my_report = sv.analyze(df, pairwise_analysis = "off")

Tried to call this function but got this error when I input a normal dataframe that only contain numeric columns. Any advice what might went wrong?

[2020-12-02 03:17] fbdesignpro commented on #68
Hi @jackyyanggp thank you for the report! I'm not sure what could be causing this. Are you able to run other data sets successfully? I'm guessing you couldn't share the data so I could debug it? Also if you have a call stack, that could be helpful, to see where the error is happening.
Thanks again!

[2020-12-02 05:34] jackyyanggp commented on #68
Hi @fbdesignpro thanks for your response, please see the detailed error below:

![image](https://user-images.githubusercontent.com/74266286/100832516-0b749480-3436-11eb-9b8d-3c689d5ae503.png)

[2020-12-09 15:00] fbdesignpro commented on #68
Hello again @jackyyanggp, sorry for the slight delay this week! I looked into it and as far as I can tell without looking at the source data, I'm wondering if it could be an issue with the pandas installation itself, because as you can see from the stack, sweetviz is calling `series.sum()` successfully (suggesting the numerical data is fine) but `series.mad()` fails right after.

I would love to k

[2020-12-22 11:59] aviasd opened #70 "Different Scores for Uncertainty Coefficient"
When showing the categorical variable's report, we have two information zones:
1. [feature_name] PROVIDES INFORMATION ON...
2. THESE FEATURES GIVE INFORMATION ON [feature_name]

This is an example from the [Kaggle Housing Price dataset](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data):
![image](https://user-images.githubusercontent.com/41818563/102885737-87be2e80-445c-11e

[2020-12-22 13:37] fbdesignpro commented on #70
Hi @aviasd, thank you for the detailed question.

The fact that they are not the same is actually a big **feature** of the uncertainty coefficient; because these features are categorical (not numerical), these are not a "correlation" in the usual sense. The uncertainty coefficient (albeit with some caveats as a certain underlying distribution is assumed for the calculations) is made for such categ

[2020-12-22 20:11] #70 closed

[2020-12-22 20:11] #67 closed

[2020-12-22 20:11] #65 closed

[2021-01-04 20:34] ai2table opened #71 "Minor type checking issue"
Both analyze and compare functions accept Tuple[pd.DataFrame, str] but DataframeReport __init__ mandates a List (see below, line 54) . Lists cast to tuples automatically, so this will all work if the user passes a list [df, "some_name] but fails if they pass a tuple (df, "some_name"). Since the functionality will not work on multiple dataframes, it makes sense to recommend  a Tuple instead of a Li

[2021-01-06 02:19] haiyuni opened #72 "the target rate samll than 0.01% not show on the report"
the target rate is 0.0004% in my data, I user the sweetviz packages,but it's not show the target rate in my analysi report

[2021-01-06 02:43] haiyuni opened #73 "can user the biaxial coordinates to show variable with taget relationship"
The distribution of independent variables and the distribution of independent variables with respect to the target variables are not in the same level in most cases. Double-coordinate axes can be used to display the distribution of independent variables and the distribution of independent variables to the target variables

[2021-02-05 12:48] Pratap517 commented on #11
@fbdesignpro  how to use : get_as_embedded_html()  please explian

[2021-02-05 13:43] Pratap517 commented on #11
Hi , Could you please telll me how to render the sweetviz report in streamlit

[2021-02-05 13:46] Pratap517 commented on #6
hi even I'm facing the same issue...please do write out here

[2021-02-05 18:02] fbdesignpro commented on #11
Hi @Pratap517! I mentioned `get_as_embedded_html()` a while back as part of planned future functionality to enable incorporating reports into Notebooks and other documents.

Since then, I implemented `show_notebook()` to incorporate into Jupyter-style notebooks, as well as report scaling for bigger/smaller monitors.

I did not get into the HTML integration for Streamlit-Style yet but that is very

[2021-02-05 18:05] fbdesignpro commented on #11
Completing my answer: I BELIEVE I need to output HTML without body/header, BUT with the correct JavaScript etc. integrated. I'm not a Streamlit expert, so I will need to do some research!

[2021-02-05 18:08] fbdesignpro commented on #71
Hey @ai2table, apologies for the long delay, it's been crazy times ;)

That sounds like a nice touch, I will add it in the next revision. :)

[2021-02-05 19:15] fbdesignpro commented on #61
Hi @fleschgordon! It's been a while, but I finally was able to reproduce and fix this issue! :) It will be fixed in 2.0.5, coming up very shortly.

It was caused by LaTeX escape sequences being present in feature names, causing mayhem at font render time.

Thanks again for the reports!

[2021-02-05 19:16] #61 closed

[2021-02-05 19:19] fbdesignpro commented on #72
Hello @haiyuni! Thank you for your reports and apologies for the delay in answering (it's been a crazy month!). That is a very low occurrence rate and probably gets rounded down... that's a good catch I will look into it for the next revision! Thank you again!

[2021-02-05 19:20] fbdesignpro commented on #73
Hello @haiyuni! I am guessing this is related to your other comment about a very low occurrence rate of the target. :) This one might be a bit more complicated but I will look into it and keep you posted here. Thank you again!

[2021-02-06 04:01] Pratap517 commented on #11
As of now I can able to display pandas profiling on my app... And now I
want to Add a link where they can download the report that was generated by
PF.

Thanks

On Fri, 5 Feb, 2021, 11:35 PM Francois Bertrand, <notifications@github.com>
wrote:

[2021-02-08 18:29] ODONNRY opened #74 "EmptyDataError: No columns to parse from file"
Using Sweetviz in a Streamlit application.  Using a very simple sample csv to read into a df, which pandas can read without issue.  When the sv.analyze(df) is executed it returns an error: EmptyDataError: No columns to parse from file. Sample code below:

`    elif choice == "Sweetviz":
        st.subheader("Analysis with Sweetviz")
        data_file = st.file_uploader("Upload CSV", type=['csv'])

[2021-02-08 18:41] fbdesignpro commented on #74
Hi @ODONNRY, thank you for the report. I am not too familiar with Streamlit but given some recent feedback from users using the system, I am starting to investigate and I will report here shortly!

[2021-02-08 18:44] #15 closed

[2021-02-09 06:29] haiyuni commented on #73
Well, in my model, the target ratio of the target variable is very low, which is not in the same range as the distribution of the variable. For example, the response rate of my target variable is 0.01%, but the distribution range of my variable will be between 10%-50%, so it cannot be displayed in one picture. I am looking forward to your reply,thanks!

[2021-02-09 06:34] haiyuni commented on #72
thanks,This is a great package

[2021-02-09 13:26] fbdesignpro commented on #73
@haiyuni yes that's what I figured; makes sense! From looking at it again, I remember thinking about this and chose to keep the single scale because it might get confusing, e.g. in the following example case, if there was a different scale at the bottom (let's say, from 0 to 30%), it would be very hard to tell which scale is applying to which data:
![image](https://user-images.githubusercontent.co

[2021-02-15 09:02] yair4Data opened #75 "support big data use cases"
great library !
it will be great if there was support on big data use cases (integration with dask/ vaex/spark)
my use case has out of memory data set size and great imbalace so if i want to keep original target ratio - i need to support original data size and not down sample the data.

[2021-02-15 22:13] fbdesignpro commented on #72
Hello again @haiyuni! Just for clarity, this issue here about "not showing on the report", is this also related to the scale of the graph? Or is this in another section of the report? I'm only asking because I did a few tests with 0.0004% positive, and it does show up. I mean the absolute numbers are correct, but the percentages are rounded down to 0% so I wanted to know if this is what you were a

[2021-02-15 22:16] fbdesignpro commented on #75
Hello @yair4Data, thank you for the kind words! I hope the library can be useful to you!

Are you saying you are running out of memory one converting to a pandas data frame (e.g. ` df = df.compute()` in dask)?

Or are you getting an error message when running the report, or generating HTML?

[2021-02-18 08:32] smiglidigli opened #76 "Random empty body for bigger datasets"
I have a dataset that contains 3.8k columns and 300 to 900k rows. When I run the report and save to html, it randomly outputs a file with empty body (literally, <body></body> in the source). The head is filled and the file weights around 30MB. I don`t see a pattern, it may output an empty-body file during the first run, the correct file in the second and empty-body in the third.

Env: GCP, AI Plat

[2021-02-18 08:38] smiglidigli opened #77 "No visualization for columns 2501+"
I have a dataset that contains 3.8k columns and 300 to 900k rows. When I run the report and save to html, only the first 2501 columns are visualized. The rest is represented by empty tiles (attachment).
![sweetviz](https://user-images.githubusercontent.com/35569395/108328296-b7738380-71cc-11eb-9629-f383212d2481.png)

Env: GCP, AI Platform, python 3.7
SweetViz ver: 1.1.2 and 2.0.6
Browsers: Opera 7

[2021-02-19 05:47] haiyuni commented on #72
sorrry ，it's shuld  be the target rate is round 0 in the TOP CATEGORIES  report.

[2021-02-19 13:40] fbdesignpro commented on #76
@smiglidigli thank you for the detailed report; I will attempt to reproduce this on my end and let you know ASAP!

[2021-02-19 21:41] fbdesignpro commented on #72
Hello @haiyuni ! I just pushed version 2.0.7 which will display "<1%" and similar notations instead of just "0%" (in a couple of places). There is not room to show much more, but I think it's already a big improvement. Thank you again! The definitely let me know if you are able to update and see this and it works properly. :)

[2021-02-19 21:41] #72 closed

[2021-02-19 21:43] fbdesignpro commented on #77
Hello @smiglidigli ! Thank you again; I did not think it would be practical to have so many features so I arbitrarily picked 2500 as an upper limit for display players, which caused those extra layers to be hidden. I just pushed version 2.0.7 which should be fixing this (the new limit is 10,000, and I think that's enough at that point!). Let me know if this fixed it or if you are still encounterin

[2021-02-19 21:43] #77 closed

[2021-02-19 21:46] fbdesignpro commented on #76
Hello @smiglidigli, I took a look at this one as well as the other issue you reported, and although I was able to fix the other one, I'm not getting this one.

I was able to generate those big reports and noticed that those 30 MB files do take a while to open. I'm pretty sure you must have tried this, but I wonder if it's an issue with rendering or memory on the browser side, like opening a new br

[2021-02-19 21:47] fbdesignpro commented on #71
@ai2table this should be integrated in the new 2.0.7 version, thank you again! :)

[2021-02-19 21:47] #71 closed

[2021-02-20 17:50] smiglidigli commented on #76
Thanks for checking. I noticed that might be an issue with the way how jupyterhub of the AI Platform downloads files. Some of my csv files were also incomplete. What`s interesting, though, is that none of the files was corrupted. csvs contained less rows and your htmls just didin`t contain <body> contents.
I will install 2.0.7 on Monday and will try to move the html to GCP storage and download fro

[2021-02-22 08:41] smiglidigli commented on #76
I checked today and it seems the problem is not SweetViz, but the way JupyterLab downloads files on GCP (or maybe regardless of the hosting, I don`t know). When I programmaticaly uploaded the file to storage and downloaded from there using the console functionality, the file was complete. Thanks again for checking and sorry to have bothered you.

[2021-02-22 08:41] #76 closed

[2021-02-23 08:36] KlemenVrhovec commented on #52
I got to the same problem and found the 2 columns that were the problem. I did not manage fix the problem. I am sending you an example, since I see you were not able to reproduce the error. There are a lot of empty values, which I think is the problem.

[example](https://github.com/KlemenVrhovec/public_files/blob/main/data.csv)

[code]

[2021-02-23 15:42] fbdesignpro commented on #52
Hello @KlemenVrhovec, thank you so much for your report! Because of it I was able to quickly locate the issue; it is caused when only a SINGLE line contains non-NaN for 2 features in a correlation. I must have overlooked this case when I was testing (probably only testing when there was NO data, but didn't check for a single line).

Anyway, this makes a lot of sense (pretty obvious actually in ret

[2021-02-23 21:04] gverbock opened #78 "Add number and prct of negative values to feature information"
I would like to create a PR for adding the number of negative values to the base statistics. In addition, if I am right, the number of zeroes is also not displayed.

The output of the implementation would look like this:

![image](https://user-images.githubusercontent.com/32060943/108907918-04b78100-7623-11eb-8451-e28d0e3c7847.png)

[2021-02-24 07:08] AdityaKj opened #79 "Tqdm errors while running sweetviz.compare() or analyze() in Colab"
Feature: Item_Outlet_Sales (TARGET)
[ 18%] 00:00 -> (00:03 left)

TqdmDeprecationWarning: Please use `tqdm.gui.tqdm(...)` instead of `tqdm(..., gui=True)`
---------------------------------------------------------------------------
TqdmDeprecationWarning                    Traceback (most recent call last)
<ipython-input-38-2613e0da05df> in <module>()
----> 1 comparison_report = sv.compare([train,'

[2021-02-24 08:47] AdityaKj commented on #79
For NewBees using sweetviz, after install restart the colab env. and start using sweetviz.

[2021-02-24 08:47] AdityaKj commented on #79
CLosing Issue now

[2021-02-24 08:47] #79 closed

[2021-02-24 12:55] fbdesignpro commented on #52
Closing, will reopen if it comes up again!

[2021-02-24 12:55] #52 closed

[2021-02-24 12:56] fbdesignpro commented on #79
@AdityaKj thank you for the report! It's good information if anyone else runs into this. I hope you will find the library useful!

[2021-02-24 13:05] fbdesignpro commented on #78
Hello @gverbock, thank you for the detailed PR!

I actually toyed with this initially (at least, the zeros), but favored the "design/cleanliness/readability" of having the left section be common to all data types (i.e. text, categorical and numerical variables all share values/missing/distinct), and have some room.

I want to remain cognizant of the importance of keeping readability because value/

[2021-02-24 13:06] fbdesignpro commented on #78
Just noticing that "zeros" has been requested for a while (#44), so I will add it as described above. :)

[2021-02-24 17:24] gverbock commented on #78
Dear @fbdesignpro.

Great you will add the statistics on thee zeroes to sweetviz.

[2021-02-26 17:34] fbdesignpro commented on #78
Hi @gverbock, I just committed 2.0.9, which adds "zeroes" count! After thinking about it, for now I won't implement negative numbers, however, to avoid overcrowding the display. If I get lots of requests I will look into adding it perhaps as an option.

Either way, thank you for pushing for that feature, I think everyone will benefit!

[2021-02-26 17:34] #78 closed

[2021-02-26 17:35] fbdesignpro commented on #44
@bhishanpdl thank you for the suggestion, this is now committed as part of version 2.0.9!

[2021-02-26 17:35] #44 closed

[2021-02-27 03:35] fbdesignpro commented on #74
Hi @ODONNRY, thanks again for the report! I finally got to to test the setup and tried in your exact code and it... actually worked!

When I hit the button, `analyze(df)` gets executed (I see the progress bar in the terminal window), then `show_html()` brings up a browser. (I commented out `st_display_sweetviz(...)` as it seems to be something you created on your side).

I did try it with the usua

[2021-03-02 19:52] Gfeigel opened #82 "Sweetviz Plot Problem"
The % headers are cropped on my Plots. Windows 10 with 1920x1080. See attachment pic. Do have some setting that needs to be changed?

![Sweetviz Plot Error](https://user-images.githubusercontent.com/31073492/109706430-ee4f7f00-7b66-11eb-81b3-e8c16cdf9339.jpg)

[2021-03-02 20:40] fbdesignpro commented on #82
Hi @Gfeigel, thank you for the report. This is very strange as I have not seen this before, and reports are usually hardcoded to be a standard size.

Were you using any scaling values or changes to default parameters (such as using a vertical layout)? Were you viewing this in a notebook or using the HTML page (i.e. using `show_html()`)?

If you were using HTML, could you send the report here so I

[2021-03-02 21:10] Gfeigel commented on #82
Thanks for the prompt reply. I have not intentionally changed any of the
default parameters. Report attached.

On Tue, Mar 2, 2021 at 3:41 PM Francois Bertrand <notifications@github.com>
wrote:

--
Best regards,

Richard E. (Gene) Feigel, Ph.D.
gene.feigel@gmail.com

[2021-03-02 23:48] fbdesignpro commented on #82
@Gfeigel thanks! Did the attachment upload make it? I don't see it (I might be missing something really obvious!)

[2021-03-03 01:41] Gfeigel commented on #82
Francois:
I see the attachment at my end on the email I sent you. I'll attach it
again. Its named "Report.html.

On Tue, Mar 2, 2021 at 6:48 PM Francois Bertrand <notifications@github.com>
wrote:

--
Best regards,

Richard E. (Gene) Feigel, Ph.D.
gene.feigel@gmail.com

[2021-03-03 02:55] fbdesignpro commented on #82
Hi @Gfeigel it's strange, I don't think the attachments are coming through. Thanks for hanging in there, I would really like to solve this. It looks like you are replying to the Github thread via e-mail and it may cause attachments to be lost? (I don't see them here on Github nor in my emails) I only see the PDF you posted in the discussions.

e.g.
![image](https://user-images.githubusercontent.co

[2021-03-03 03:26] Gfeigel commented on #82
Francois:
Let me send a fresh email. I'll rename the html file with a txt extension
which you can rename if you get it. If that doesn't work I'll try GitHub,
although I'm not very experienced with GitHub.

On Tue, Mar 2, 2021 at 9:55 PM Francois Bertrand <notifications@github.com>
wrote:

--
Best regards,

Richard E. (Gene) Feigel, Ph.D.
gene.feigel@gmail.com

[2021-03-03 03:29] Gfeigel commented on #82
See if this works.

--
Best regards,

Richard E. (Gene) Feigel, Ph.D.
gene.feigel@gmail.com

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAAAAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAAAAAAAAPD4/AC0vMADd3+AAWFpbAFlaWwC8vb0AOjw9AERHRwCSlJUAk5SVAJ6fnwD39/cAW1xeAGVnaAC0t7YAgYOEAI2OjgDk5uYA9fX1

[2021-03-03 03:41] Gfeigel commented on #82
Can I email the html directly to you without going through GitHub? I tried
to paste the html report file directly into GitHub, but it apparently won't
accept html files, only image files. If there's a way to do it, can you
help me?

On Tue, Mar 2, 2021 at 10:28 PM Gene Feigel <gene.feigel@gmail.com> wrote:

--
Best regards,

Richard E. (Gene) Feigel, Ph.D.
gene.feigel@gmail.com

[2021-03-05 15:40] bhishanpdl commented on #44
@fbdesignpro It's great that the feature is added.
The feature "number of Zeros" and its percentage is really helpful for binay features. For example, if there is 100% zeroes for a feature. It has only one unique values and it is worthless in modelling.

[2021-03-11 13:32] fbdesignpro commented on #82
After off-line conversation with @Gfeigel, it looks like this was caused by a side effect of using Knime. Couldn't find mitigationon the library side so marking as "won't fix" & "external cause" for now, unless there is something that can be done in the library.

[2021-03-11 13:32] #82 closed

[2021-03-12 02:21] haiyuni commented on #73
looking forward this packages

[2021-03-12 02:24] haiyuni commented on #75
t have the same probleam too,my data have about  billion  rows, but it does not work! can use the modin package?

[2021-03-12 17:47] fbdesignpro commented on #73
@haiyuni thank you for the ping, this should be part of the next version coming by the end of the month.

[2021-03-12 17:49] fbdesignpro commented on #75
@haiyuni I haven't looked at modin, I will do so and get back here.

Regarding the billion row issue, I am assuming you are referring to the scale issue (#73)? Or is there a specific error I should be looking at?

Thanks again!

[2021-03-13 00:02] ozitrance opened #83 "Is there a way to annotate the values of X and Y while hovering mouse over the bar graph?"
Hi There

Thank you for this great library! It's a real game changer for me :)

I was wondering if there's a way to see the values of the bars in the detailed graph bar?

I'm having problems finding real values of some parts and cannot figure out how to get the exact values I'm looking for. Maybe I'm missing something?

Here's an example:
![2021-03-12_15-56](https://user-images.githubusercontent.c

[2021-03-14 03:56] ozitrance commented on #83
I realized it is not going to be possible currently since the the reports only show generated PNG files..

I was able to save the data to a pickle file and load it later from there which is good enough for me.

I'm gonna close this "issue".. Thanks again for sharing these amazing work

[2021-03-14 03:56] #83 closed

[2021-03-15 10:29] rakeshraghavendrad opened #84 "Unable to install pip install sweetviz in anaconda below are the error messages Kindly help !!"
ERROR: Could not find a version that satisfies the requirement sweetviz (from versions: none)
ERROR: No matching distribution found for sweetviz

[2021-03-15 12:32] fbdesignpro commented on #84
Hello @rakeshraghavendrad! A common cause for this would be some incompatibility with the Python/environment you are using. Can you say  which version of Python you are using (e.g. 3.6.1), and in which environment (e.g. PyCharm, Jupyter, etc)? Thanks!

[2021-03-22 09:13] DanilZherebtsov opened #85 "Possible error in the correlations plot header"
<img width="850" alt="Screenshot 2021-03-22 at 12 11 44" src="https://user-images.githubusercontent.com/35999411/111966428-f700f880-8b07-11eb-8058-a70afb838f1b.png">

looks like you wanted to say 'column' here instead of 'row'

[2021-04-01 18:52] fbdesignpro commented on #85
@DanilZherebtsov haha yeah that whole paragraph was a huge pain to word correctly, and I don't think I achieved that. ;)

Basically the cells in each row corresponds to how much the label of the row (what I call "elements on the left") provides information on the "labels at the top". So I meant "elements in the row" to be each cell in the row so it's correct that way. But they correspond to the la

[2021-04-01 18:55] fbdesignpro commented on #73
Just a quick update, it's still on my radar but my time has been taken by other projects as well as wrapping up 2.1.0. This will happen, it will just take a bit longer. Thank you for your patience!

[2021-04-06 18:18] SJDO01 opened #86 "ZeroDivisionError: float division by zero"
Hi,

I am beginner on Python and i've actually discovering sweetviz.
(this packege is wonderfull ! )

But, I trying to compare 2 conditions in my dataset and i have this message  in below :

ZeroDivisionError: float division by zero

Before to use this package i have tranform the non-numerical labels to numerical labels and clean up the NANs.

Can you help me ?
<img width="1096" alt="Capture d’éc

[2021-04-12 13:06] fbdesignpro commented on #86
Hi @SJDO01 ! Thank you for the report, apologies for the slight delay. I will attempt to reproduce this and can back to you shortly.

[2021-04-17 04:46] kirankhannas opened #87 "Not able to remove logo"
import sweetviz as sv
sv.config_parser.read("Override.ini")
[Layout]
show_logo = 0

Not working it shows NameError: name 'Layout' is not defined

[2021-04-19 12:32] fbdesignpro commented on #87
@kirankhannas thank you for the info, I would really like this to work well so I will try to help fix this for you. To start, I'm assuming the part starting at `[Layout]` is in the file Override.ini? If not, to clarify, that section is a separate file (`Override.ini`), which gets loaded by the `read` command. Let me know if this helps.

[2021-04-19 12:33] fbdesignpro commented on #86
(status update: busy week, hoping to get this done this week!)

[2021-04-19 16:22] kirankhannas commented on #87
Hi Francois,
Thank you so much. So this means i need to use anaconda prompt and say conda install override.ini. Is this correct or i have to write in jupiter notebook as read Override.ini.

Can you send me an example of this command where you used to remove the logo.Thanks

Sincerely
Kiran Khannas

[2021-04-26 13:24] fbdesignpro commented on #87
Hi @kirankhannas, apologies for the delay in answering as I was not able to get to anything Sweetviz-related this week. The `Override.ini` is actually a **separate file** that contains settings you wish to override.

The `sv.config_parser.read("Override.ini")` command is the only thing you need to add to Python, and it loads that file.

So you need to make sure the path/filename you specify in the

[2021-05-01 07:51] subho22 commented on #86
Any update?? Faced the same issue

[2021-05-01 08:58] subho22 opened #88 "How can I compare more than 2 subsets"
How can I compare more than 2 subsets

[2021-05-09 23:24] steve-evers opened #89 "Add Column descriptions"
It would be great to bea ble to provide a list / dict of column descriptions which could be displayed on the html report

[2021-05-12 09:44] analyticsrunner opened #90 "AttributeError: 'tqdm' object has no attribute 'delay'"
pip install sweetviz
import sweetviz as sv
my_report = sv.analyze(df)

AttributeError                            Traceback (most recent call last)
<ipython-input-20-4092ca3c99ac> in <module>()
      1 # importing sweetviz
      2 import sweetviz as sv
----> 3 my_report = sv.analyze(df)
      4 #my_report.show_html("EDA kick-starter.html")

/usr/local/lib/python3.7/dist-packages/tqdm/notebook.py in

[2021-05-16 04:52] kirankhannas commented on #87
Thank you Francois. It works for me and fantastic work. This is amazing. Is there a way we can insert custom logo as well?
Sorry, for my late responde, because of suffering from covid.

[2021-05-20 14:05] ajsharma22 opened #91 "Showing integer columns as categorical and throwing error."
If I analyze these two datasets individually,  I don't get any error and the I also get the viz of all the integer columns.
But when I try to compare these dataframe, I get the below error.

"Cannot convert series 'Web Visit' in COMPARED from its TYPE_CATEGORICAL
to the desired type TYPE_BOOL."

I also tried the FeatureConfig to skip it, but no avail.

`pid_compare = sweetviz.compare([pdf,"234_755

[2021-05-24 12:59] fbdesignpro commented on #90
Hi @analyticsrunner! Apologies for the delay in answering; I have never heard of this issue, but it could be related to the environment. Can you tell me what environment you are running it from? (Also environment, Python version etc.) I will try to get this fixed!

[2021-05-24 13:14] fbdesignpro commented on #91
@ajsharma22 thank you for the report! It looks like dataFrame1 only contains 0 & 1, so it is classified as boolean so it cannot be compared against the second one which is categorical (that one has 0,1,2,3 as you probably know!).

This is an interesting case where I might be able to detect the issue and re-consider the first data set as categorical, but as you mention, the system SHOULD be able to

[2021-05-24 13:18] fbdesignpro commented on #88
Hello @subho22! Thank you for looking into this; unfortunately, right now the architecture is geared towards comparing 2 data sets or subsets (you can see from the graphical layout how everything has 2 columns, etc.). It was a design decision to favor simplicity/clarity for a core use case, but it does  mean it is not possible at this time to compare more than 2 at the same time. The only workarou

[2021-05-26 00:25] ana-gleice commented on #90
Hi, @fbdesignpro, I would like to enjoy the opportunity to add the same issue.
I am using google.colab to execute "ProfileRepor", and it return:
--------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/usr/local/lib/python3.7/dist-packages/IPython/core/formatters.py in __call__(self, obj)
    336

[2021-05-26 17:16] fbdesignpro commented on #90
Hi @ana-gleice, thank you for the report. This is really puzzling as I am able to run Colab and I'm having trouble reproducing this. This error is not showing up in Google for any tqdm case.

The fact that 2 of you are having the issue means is not that rare but I'm not sure where to begin searching.

There have been a few issues related to version differences, can you tell what version of tqdm is

[2021-05-26 17:19] fbdesignpro commented on #88
Closing the issue as this is a fundamental design decision (from an interface and internals perspective as discussed above).

[2021-05-26 17:19] #88 closed

[2021-05-26 17:20] fbdesignpro commented on #87
@kirankhannas I hope you are feeling better :(

Thank you for the good words, I am glad it was working eventually! I am adding this to a desired feature, but unfortunately I don't think I will have the time to work on that feature in the short term. Closing the issue for now but I am keeping this on a future feature list.

[2021-05-26 17:20] #87 closed

[2021-05-26 17:26] fbdesignpro commented on #86
@subho22 @SJDO01 I have been kept away for a good amount of time but I finally got to this; it should be fixed by tomorrow (update coming). Thank you for reporting this!

[2021-05-27 17:12] fbdesignpro commented on #85
Hello @DanilZherebtsov after running a few tests, I have to say you're right! The wording was not clear enough but also it was flipped! Thank you for bringing this up. It is fixed in the new release.

[2021-05-27 17:12] #85 closed

[2021-05-27 17:38] fbdesignpro commented on #86
@subho22 @SJDO01 should now be officially fixed in 2.1.1! Thanks again and let me know if you find anything else!

[2021-05-27 17:38] #86 closed

[2021-06-28 05:25] YASHGUPTA2611 commented on #84
Hi @rakeshraghavendrad, the command for installing Sweetviz library in anaconda is " **_conda install -c conda-forge sweetviz_** ".

Another method to install Sweetviz is to go in Anaconda navigator and search for sweetviz package and install it.

Here is the anaconda page for sweetviz library - [https://anaconda.org/conda-forge/sweetviz](url)

[2021-06-28 05:34] YASHGUPTA2611 opened #93 "How to display HTML page of sweetviz library after it uploaded on Github"
After visualization, I uploaded Sweetviz Visualization HTML pages on my Github repo, but if i am opening the HTLM file it is showing the source code.
How can i see the html  page within the Github.

[2021-07-01 08:16] geoHeil opened #94 "cant create HTML report"
When trying to create an HTML report for the computed dataframe analysis an error is created during the creation of the HTML file:
[code]

[2021-07-07 15:43] fbdesignpro commented on #93
Hi @YASHGUPTA2611 I believe this is due to how Github stores/displays pages.

Are you able to display any other HTML file?

If not, it does feel like that's a built-in design for Github. This stack overflow thread seems to have good workarounds and discussions on the topic:

https://stackoverflow.com/questions/8446218/how-to-see-an-html-page-on-github-as-a-normal-rendered-html-page-to-see-preview

[2021-07-07 15:45] fbdesignpro commented on #94
Thank you for the report @geoHeil! I think this could be legit edge case issue. Are you still running into this? If so, I would love for you to test an update I will try to get in by the end of the week.

[2021-07-08 14:14] fbdesignpro commented on #54
Closing as it is old and cannot reproduce issue.

[2021-07-08 14:14] #54 closed

[2021-07-08 14:20] fbdesignpro commented on #90
@analyticsrunner @ana-gleice after looking at this in multiple ways and looking at similar issues with tqdm, it looks like this could be a version mismatch and uninstalling then reinstalling tqdm should solve the issue. Some people report having to manually remove tqdm files.

I know this might be a bit of an issue running in Colab, but if you are anyone else is still having this issue, I would lo

[2021-07-09 11:16] YASHGUPTA2611 commented on #93
@fbdesignpro Thank you for the solution.

You can see any Github HTML page on this link - [https://htmlpreview.github.io/(path_to_the_html_page_on_the_repo)](url)

[2021-07-09 13:30] fbdesignpro commented on #93
@YASHGUPTA2611 Awesome! I'm glad you're able to get the answer! :)

[2021-07-09 13:30] #93 closed

[2021-07-09 18:34] iagorichard commented on #90
Probably you are using a newer _tqdm_ version.

I'm not sure when but the attribute delay got deprecated.

As emergence solution, I have downgraded the _tqdm_ version to 2.0.0 (I'm using google colab), and it worked fine! :)

Here are the commands to do that:
**!pip uninstall tqdm
!pip install tqdm==2.0.0**

[2021-07-14 17:36] timothyslau commented on #90
This solution worked for me, but is not ideal.

[2021-07-16 15:49] fior-di-latte-byte opened #95 "Joblib problems after using sweetviz"
Hello,
first off, I'd like to thank you a lot in the name of many for this awesome package.

I am using sweetviz to export a feature report in a data science context. **After that**, the features are postprocessed using a sklearn (0.24.1) ColumnTransformer that (among other things) uses a TargetEncoder for the categories (category-encoders =2.2.2).

Here comes the odd thing:
Whenever I use `sv.ana

[2021-07-19 12:58] fbdesignpro commented on #90
@iagorichard thank you for the workaround! @timothyslau I'm glad it's helping, even if not ideal as you say.

This does look like a version mismatch issue, but perhaps with legacy/multiple versions in the environment, not sure what the best general solution is. The install requirement is tqdm>=4.43.0 and it seems to work with that version, yet it works with your 2.0.0 :/

[2021-07-19 13:21] fbdesignpro commented on #95
Hi @fior-di-latte-byte, thanks for the detailed report!

This is the first time I hear of something like this, but it's definitely possible that at some point in processing, the source dataframe gets modified somehow. A lot of processing happens but it's generally on copies of data.

I know "Boolean" columns can get their values standardized to 0/1 from Y/N etc, but I don't think that happens in-p

[2021-07-19 13:28] fior-di-latte-byte commented on #95
Hi,
thanks for the answer. :-)
Actually, I also tried to use the analyze method on a deep copy of the dataframe (=`features.copy()`), but the problem persists. So the actual problem seems to be unrelated to the dataframe itself.

I already imagined this error is hard to reconstruct.  But who knows, maybe someone else will show up with the same problem. If not, even better ?? ;-)

Anyway, thanks ag

[2021-07-19 13:38] fbdesignpro commented on #95
Hi @fior-di-latte-byte,
thank you for the follow-up! That's very interesting and good to know that the source is "left unharmed" at least to a good degree. :)

So it would be some global state or variable that is confusing joblib.

I noticed `stats['count']` in the call stack. I wondered if that could have gotten overridden somehow, but creating a dummy `stats` object before calling `analyze` didn

[2021-07-19 21:38] rehoyt opened #96 "Won't install in Kaggle Notebook"
I am able to install Sweetviz in Jupyter Lab and Google Colab using !pip install sweetviz. My laptop is a Mac with Big Sur 11.4.
To teach students I am also considering Kaggle notebooks because there is no installation. When I use the command pip install sweetviz it says "invalid syntax" and when I use !pip install sweetviz here is the error

ERROR: Could not find a version that satisfies the requ

[2021-07-23 05:26] firmai opened #97 "Dash App"
Hi -- thanks for the great work, is there any way to embed or get these nice visualisations into a dash app?

[2021-08-11 22:50] tricision opened #98 "Analyze fails on the file with large number of columns"
This is a great tool, but recenetly I ran into an issue analyzing a file with over 200 columns.  I only have about 80,000 rows, so the file is not huge.

The code is very simple(see below).  I can attach sample file if that helps.

When I run it interacrtively it just stops executing.  From command line I get "Fail to allocate bitmap" error. Traceback is attached
[Traceback.txt](https://github.com

[2021-08-17 17:48] fbdesignpro commented on #97
Hello @firmai, apologies for the long delay. I've had success in integrating the HTML generated in other applications that can integrate custom HTML pages but I have not tried in Dash. TBH I do not know much about that platform. :O

[2021-08-17 17:49] fbdesignpro commented on #96
Hi @rehoyt, apologies for the long delay in answering. Were you able to install it? I think it might require I go to the Kaggle people and look at what their Kernel entails.

[2021-08-17 17:58] fbdesignpro commented on #98
Hi @tricision! Thank you for the detailed report!

It looks like the issue is not related to Sweetviz or the number of columns (I have run it with many more), as the traceback is pointing towards an issue encoding Unicode character 2070 ("superscript zero") during **import**!!

Looking online, it looks like updating/reinstalling numpy (or even conda?) would solve the issue:

https://github.com/num

[2021-08-17 17:59] fbdesignpro commented on #91
After all this time I'll assume it worked, closing! :)

[2021-08-17 17:59] #91 closed

[2021-08-17 18:51] rehoyt commented on #96
Thanks. I could not use Kaggle notebooks for teaching for that reason so I
went with Google Colab

Bob

On Tue, Aug 17, 2021 at 12:49 PM Francois Bertrand ***@***.***>
wrote:

--

*Robert (Bob) Hoyt MD, FACP, FAMIA, ABPM-CI*

*Associate Clinical Professor, Department of Internal Medicine*

*Virginia Commonwealth University*

*Richmond, VA*

*CAPT (Ret) USN*

InformaticsEducation.org  <http://Infor

[2021-08-25 08:51] ds-noahdolev commented on #52
I think you have the same (or similar) problem somewhere else as well:
[code]

[2021-08-29 18:12] bm765 opened #100 "target_feat is numerical but is interpreted as categorical"
Hi,

thanks for bringing this software to life!!! :-)

If I execute the following code, I get the error below. Am I doing something wrong here?

[code]

error:
[code]

[2021-09-10 09:03] crewzly opened #101 "Please add an option "retina resolution" for reports"
Please add an option "retina resolution" for reports
https://en.wikipedia.org/wiki/Retina_display

Now the reports look blurry.

[2021-09-23 19:44] HWiese1980 commented on #94
I am running into this now. What's the status?

[2021-09-23 19:49] HWiese1980 commented on #94
It's caused when a large number of features are auto-pairwise analyzed and `show_html` is subsequently called despite the warning of exponential time consumption and the pre-mature return.

[2021-09-30 17:10] fbdesignpro commented on #100
Hello @bm765, thank you for the good words on sweetviz! I apologize for the long delay in answering. If you or anyone could still use this information, the answer is as follows:

As you may suspect, the system is inferring the data to be categorical, since there are so few different values. You can change the threshold under which that determination is made (i.e. how many different values can a ca

[2021-09-30 17:10] #100 closed

[2021-09-30 17:19] fbdesignpro commented on #96
Thanks for the report. I was able to install sweetviz in Kaggle recently, so perhaps something changed on the backend.

If anyone ever runs into this again, definitely let me know!

[2021-09-30 17:19] #96 closed

[2021-09-30 17:20] #98 closed

[2021-09-30 17:28] #63 closed

[2021-09-30 17:29] #64 closed

[2021-09-30 17:31] #74 closed

[2021-09-30 17:31] fbdesignpro commented on #84
@YASHGUPTA2611 it's been a while, but thank you for following up on this issue! :) Closing it now.

[2021-09-30 17:31] #84 closed

[2021-10-18 19:41] ronmorg opened #102 "sweetviz and large datasets"
i seem to get an error when working or analyzing dataset that are greater than 890000 rows is this a bug or is there a limit on the record size.  I basically use pyodbc to get data from a table and pass it as a dataframe. get a pandas error. i have 30 gig on memeory on pc pc

[2021-11-22 20:11] CamiloSalomonT commented on #95
Hi @fbdesignpro @fior-di-latte-byte ,

I found myself with the same error yesterday, so I put [here](https://colab.research.google.com/drive/1NDLr2AGXeTOnVsUAb4aoxRa2qNWm7YLn?usp=sharing)  a way to replicate the FloatingPointError. I also found that this behavior doesn't depends on modifying DataFrame data, as I show on the notebook.

I hope you find it helpful,
Greetings from Colombia

[2021-12-04 01:31] rohit-chandra commented on #6
Hi, does anyone know how to display the sweetviz.html report on github. After uploading the jupyter notebook I cannot view the sweetviz report.
Here's the screenshot of the code snippet.
![image](https://user-images.githubusercontent.com/10391196/144691784-1319c2df-972a-46da-9493-11de07e27392.png)

[2021-12-13 02:20] LeonG7 opened #103 "sv.compare_intra without option """

[2021-12-13 02:29] LeonG7 opened #104 "sv.compare_intra without option "Target""
When i used this code
`my_report = sv.compare_intra(data_train, data_train["Sex"] == "male", ["Male", "Female"],feature_config)`
The error report is as follows:
**KeyError:**"Feature '<sweetviz.feature_config.FeatureConfig object at 0x7f98d0ee2198>' was specified as TARGET, but is NOT FOUND in the dataframe (watch case-sensitivity?)."

I think the target parameter is not added in the tutorial,so i

[2021-12-13 02:31] #103 closed

[2021-12-20 23:43] fbdesignpro commented on #104
@LeonG7 if you don't want a target, but want a feature_cfg, you should be able to specify "None", e.g.
[code]
Let me know if that works!

Francois

[2021-12-20 23:47] fbdesignpro commented on #6
@rohit-chandra I'm not sure if that could be causing the issue, but in a notebook environment, do not call show_HTML(), perhaps it is confusing the system. Show_notebook should work, though, let me know if that's the case.

[2021-12-21 00:09] Yuri-Nassar commented on #37
I am having a problem with it too. I did not got any error to install it. However, when I try to run like 'python3 file_name.py' in the terminal I got the ModuleNotFoundError: No module named 'sweetviz'. I also installed it on JNotebook and I did not get any error. I hope that it got work later like yours. :D

[2022-01-02 13:24] HanyHossny commented on #95
Hi Guys,

I dug into the code of SweetViz and found this line of code `"np.seterr(all='raise')"` in _graph_numeric.py_, I commented it and the underflow problem disappeared.

The other workaround is to put **`"np.seterr(under='ignore')"`**  just after SweetViz call is complete. This way we set how NumPy deal with such kinds of errors.

I hope this helps
Thanks
Hany Hossny

[2022-01-15 04:03] narendrareddig commented on #100
This is helped for me.

[2022-01-18 15:34] dz0 opened #105 "formatter gets series instead of float value"
hi when using
[code]

with debug I see, that `fmt_int_limit` gets series with single row: datetime  in index, and integer in value.

[2022-02-01 13:59] kbroughton opened #106 "TypeError: unhashable type: 'list' in 'analyze' method building target_dict["duplicates"]"
First try using sweetviz. I'm running in a modified scipy-notebook container running python3.9.

import sweetviz as sv

my_report = sv.analyze(df)
my_report.show_html()

[code]

[2022-02-25 12:53] jonathanecm opened #111 "Fail to allocate bitmap - Process finished with exit code -2147483645"
I am processing 4 datasets with different number of variables and each with over 4 million rows. When processing the 4 with 52 variables. I get this error and the Python console stops.

[2022-03-09 10:15] mingjun1120 opened #112 "Many warnings appeared while generating report!"
![image](https://user-images.githubusercontent.com/54136320/157420833-d46a6ef0-9184-4573-8301-c9e704e687aa.png)

[2022-03-13 14:16] ishandesilva2 opened #113 "compare_intra() keeps giving 'index X is out of bounds for axis 0 with size Y' error"
Tried `compare_intra()` on a road accident data set to compare urban vs rural samples. However, it keeps giving the above error.

`report = sv.compare_intra(df, df["UrbanRural"] == 1, ["Urban", "Rural"], 'Is Fatal')`

Removed from `df` up to four fields that the error is reported on, but then the next field throws the error. Unfortunately, the data set is private so can't share, but could this be

[2022-04-05 14:52] vincenzomanzoni commented on #112
You can disable it with:

[code]

Sweetviz team: do you have in the roadmap to fix this warning in the codebase?

[2022-04-07 04:10] ThanThan999 commented on #37
I used SweetViz before and encountered the "No module named 'sweetviz'" error. As mentioned above I uninstalled and installed Sweetviz, after which it worked well.  I took a little break and now I came back to do EDA using SweetViz, I encountered the same error again. The pip uninstall and intall didnt work this time. Any help please. Thanks.

[2022-04-16 20:17] fbertrand27 commented on #102
Hello @ronmorg! I know it's been a while,  but I was wondering if you had more details on this error. There is definitely no upper limit and I have seen Sweetviz being used with much larger data sets. It might be a memory or some other related issue. I would like to look into the issue but if I don't hear back I will close the issue.

[2022-04-16 20:18] fbdesignpro commented on #102
Hello @ronmorg! I know it's been a while, but I was wondering if you had more details on this error. There is definitely no upper limit and I have seen Sweetviz being used with much larger data sets. It might be a memory or some other related issue. I would like to look into the issue but if I don't hear back I will close the issue.

[2022-04-16 20:19] fbdesignpro commented on #104
Closing, as I believe this was the issue.

[2022-04-16 20:19] #104 closed

[2022-04-16 20:22] fbdesignpro commented on #111
@jonathanecm this sounds potential he like a memory error (allocation?). I know it's been a while, but if you are still looking at that, were you able to successfully process smaller data sets?

[2022-04-16 20:26] fbdesignpro commented on #112
@mingjun1120 , @vincenzomanzoni thank you for the report, I will look into it ASAP!

[2022-04-21 21:20] richlysakowski opened #115 "please provide conda package for lastest version"
I need a conda for this.  Pip ends up corrupting my environment, because Sweetviz relies on older packages and pip removes some of he latest packages needed by Pandas, matplotlib, Panel, and others.

[2022-04-22 18:09] sebastien-foulle opened #116 "Wrong values of % target"
Hello,

the html report produced by the following script shows that if bill_length_mm <= 35 then % target <  90%,
and if 35 <= bill_length_mm <= 37.5 then % target > 105% (!).

![image](https://user-images.githubusercontent.com/16180557/164770538-0abad112-d47b-4b64-8c69-e794f5fb9a30.png)

[code]

But in fact if  bill_length_mm <= 40, % target should always be 100% : there are only Adelie penguins

[2022-05-04 20:18] fbdesignpro commented on #115
Hi @richlysakowski, thank you so much for reporting this. I'm currently looking at updating the package for maximum compatibility.

Are you saying that pip actually uninstalls newer versions of dependencies? I'm no expert in that kind of stuff, but at least the setup.py only asks for ">=" for versions so I'm a little surprised it is uninstalling things. Unless you are talking about a version of th

[2022-05-04 20:21] fbdesignpro commented on #116
@sebastien-foulle thank you for reporting this, I will take a look!

[2022-05-17 22:27] John-Miller12 opened #118 "markupsafe version change causes failed import"
I just installed sv for the first time today on this machine, and some change in markupsafe 2.1.0 causes the `import sweetviz as sv` to fail.

I do not have the exact error in front of me (and already trudged forward with markupsafe 2.0.1 so lack time to recreate), but this should be reproducible.

[2022-05-17 23:29] mithrandir184 commented on #94
Is there any update on this? I am also getting the error

[2022-05-20 05:35] PaleNeutron opened #119 "Use html correlation heatmap (Associations) instead of picture."
If we have more than 100 features, no label is clear in current correlation map.

<img width="680" alt="image" src="https://user-images.githubusercontent.com/8296331/169457422-aeaa68c9-b444-45a8-b8ea-2ce02d675a94.png">

But if we create heatmap by seaborn or just pandas, user can zoom html to see characters clearly.

<img width="719" alt="image" src="https://user-images.githubusercontent.com/82963

[2022-05-25 23:27] makotu1208 commented on #116
I am experiencing a same event.
How is the progress of the investigation and fix here?

[2022-05-30 03:16] thongfam opened #120 "Not reading overrrde.ini - to remove logo"
Hi,

I have tried to insert the line sv.config_parser.read("override.ini") into my code right after the import after I have set "show_logo = 0" under the layout section but I noticed it is still reading from the default .ini file as opposed to the new one (which I have duplicated from existing one before apply my change).

If I proceed to set the "show_logo = 0" in teh default ini file, it is work

[2022-06-14 21:53] fbdesignpro commented on #112
Apologies for the delay, warnings should be fixed in the latest version 2.1.4!

[2022-06-14 21:53] #112 closed

[2022-06-19 07:56] tomgallagher commented on #106
Me too. I have structs and lists in some data frame columns. I'm guessing this is a problem for Sweetviz?

[2022-08-09 17:25] dsepulvedag commented on #118
Same issue here, here is the error I am getting:
`ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cookiecutter 1.7.2 requires MarkupSafe<2.0.0, but you have markupsafe 2.1.1 which is incompatible.`

Hope it helps!

[2022-10-04 15:45] LexABzH opened #124 "Add an argument to silence the progress bar"
Is it possible to add an argument to silence the progress bar ?

We want to use SweetViz in an automatique pipeline and store the report in a database.
We already have a lot of logs in our process, hence we would love to get rid of the progress bar logs.
We can deactivate tqdm before loading SweetViz, but that would also impact others parts of our process.

One solution might be to add an argument